<template>
  <div v-if="done">
    <hr>
    <div class="row q-mt-md q-mb-xs">
      <div class="col-12">
        <span style="font-size: 1.5em">Agenda Day</span>
      </div>
    </div>
    <div class="row q-mb-md" style="align-items: center; justify-content: center">
      <div class="col-3">
        <q-btn color="primary" icon="arrow_back" class="q-ma-sm" @click="changeAgenda('day', 0)"/>
      </div>
      <div class="col-6">
        <span
          v-if="parseData(actual).day"
          style="font-size: 1.5em"
        >
          {{parseData(actual).day.agenda_day_name}}
        </span>
        <span
          v-else
          style="font-size: 1.5em"
        >
          End of days
        </span>
      </div>
      <div class="col-3">
        <q-btn color="primary" icon="arrow_forward" class="q-ma-sm" @click="changeAgenda('day', 1)"/>
      </div>
      <span
        v-if="parseData(upcoming).day"
        style="font-size: 1.2em"
      >
        NEXT: {{parseData(upcoming).day.agenda_day_name}}
      </span>
      <span
      v-else
      style="font-size: 1.2em"
      >
         NEXT: END OF DAYS
      </span>
    </div>
    <hr>
    <div class="row q-mt-md q-mb-xs">
      <div class="col-12">
        <span style="font-size: 1.5em">Agenda Point</span>
      </div>
    </div>
    <div class="row q-mb-md" style="align-items: center; justify-content: center">
      <div class="col-3">
        <q-btn color="primary" icon="arrow_back" class="q-ma-sm" @click="changeAgenda('point', 0)"/>
      </div>
      <div class="col-6">
        <span
          v-if="parseData(actual).point"
          style="font-size: 1.5em"
        >
          {{parseData(actual).point.agenda_point_name}}
        </span>
        <span
          v-else
          style="font-size: 1.5em"
        >
          End of points
        </span>
      </div>
      <div class="col-3">
        <q-btn color="primary" icon="arrow_forward" class="q-ma-sm" @click="changeAgenda('point', 1)"/>
      </div>
      <span
        v-if="parseData(upcoming).point"
        style="font-size: 1.2em"
      >
          NEXT: {{parseData(upcoming).point.agenda_point_name}}
      </span>
      <span
        v-else
        style="font-size: 1.2em"
      >
         NEXT: END OF POINTS
      </span>
    </div>
    <hr>
    <div class="row q-mt-md q-mb-xs">
      <div class="col-12">
        <span style="font-size: 1.5em">Lecture</span>
      </div>
    </div>
    <div class="row q-mb-md" style="align-items: center; justify-content: center">
      <div class="col-3">
        <q-btn color="primary" icon="arrow_back" class="q-ma-sm" @click="changeAgenda('lecture', 0)"/>
      </div>
      <div class="col-6">
        <span
          v-if="parseData(actual).lecture"
          style="font-size: 1.5em"
        >
          #{{parseData(actual).lecture.article_id}}
        </span>
        <span v-else style="font-size: 1.5em">
          End of lectures
        </span>
      </div>
      <div class="col-3">
        <q-btn color="primary" icon="arrow_forward" class="q-ma-sm" @click="changeAgenda('lecture', 1)"/>
      </div>
      <div class="text-center">
        <span
          v-if="parseData(upcoming).lecture"
          style="font-size: 1.2em"
        >
          NEXT: #{{parseData(upcoming).lecture.article_id}}
        </span>
        <span
          v-else
          style="font-size: 1.2em"
        >
         NEXT: END OF LECTURES
      </span>
      </div>
    </div>
    <hr>
    <div class="row q-mt-md q-mb-xs">
      <div class="col-12">
        <q-btn color="primary" style="font-size: 1.1em" @click="toggleAgendaVisible">
          Actual Agenda Visible: {{ viewState ? 'YES' : 'NO' }}
        </q-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { useQuasar } from 'quasar'
import { api } from 'boot/axios'

export default {
  name: 'AgendaSwitcher',
  setup () {
    const $q = useQuasar()
    $q.dark.set(false)
  },
  data () {
    this.getActualAgenda()
    return {
      done: false,
      actual: {},
      upcoming: {},
      viewState: false
    }
  },
  methods: {
    formatTime (n) {
      return (n < 10 ? '0' : '') + n
    },
    dateTimeParser (pointStartDateTime) {
      const dateTimeParts = pointStartDateTime.split(/[- :]/)
      dateTimeParts[1]--
      const tempTime = new Date(...dateTimeParts)
      return `${this.formatTime(tempTime.getHours())}:${this.formatTime(tempTime.getMinutes())}`
    },
    changeAgenda (type, direction) {
      api.post(`/authorized/agenda/set_actual/${type}/${direction}`)
        .then(() => {
          this.getActualAgenda()
        })
        .catch(err => {
          console.log(err)
        })
    },
    toggleAgendaVisible () {
      api.get('/authorized/agenda/set_actual/toggle_view')
        .then(() => {
          this.getActualAgenda()
        })
        .catch(err => {
          console.log(err)
        })
    },
    getActualAgenda () {
      this.done = false
      return api.get('/agenda/actual')
        .then(res => {
          this.actual = res.data.actual
          this.upcoming = res.data.upcoming
          this.viewState = res.data.viewState

          if (this.actual.point) {
            this.actual.point.agenda_point_start_time = this.dateTimeParser(this.actual.point.agenda_point_start_time)
          }
          if (this.upcoming.point) {
            this.upcoming.point.agenda_point_start_time = this.dateTimeParser(this.upcoming.point.agenda_point_start_time)
          }

          this.actual = JSON.stringify(this.actual)
          this.upcoming = JSON.stringify(this.upcoming)

          this.done = true
        })
        .catch(err => {
          console.log(err)
        })
    },
    parseData (data) {
      return JSON.parse(data)
    }
  }
}
</script>

<style scoped>

</style>
