<template>
  <q-page class="text-dark" style="background: #F0F0F0">
    <q-card class="text-center q-ma-md q-pb-xs card-shadow-red" style="background: #F0F0F0">
      <q-card-section class="q-pa-xs">
        <div class="q-pt-md text-h5 text-weight-medium text-primary text-center">Agenda Switcher</div>
      </q-card-section>
      <q-card-section class="q-pa-xs">
        <agenda-switcher></agenda-switcher>
      </q-card-section>
    </q-card>
    <div class="row justify-center q-mt-xl q-mb-xl">
      <q-btn color="primary" rounded icon="center_focus_weak" label="Ticket Scanner"
             class="q-mt-md" size="lg" style="width: 35vh" @click="openScanner"
      />
    </div>
  </q-page>
</template>

<script>
import AgendaSwitcher from 'pages/Staff/AgendaSwitcher'
export default {
  name: 'StaffActions',
  components: { AgendaSwitcher },
  methods: {
    openScanner () {
      this.$router.replace({ name: 'main.scanner' })
    }
  }
}
</script>

<style scoped>
.card-shadow-red {
  box-shadow: 0.4rem 0.4rem #b41212, 0 0 1px #000;
}
</style>
