<style scoped>
.shadow-red {
  box-shadow: 0.5rem 0.6rem #b41212;
}
</style>

<template>
  <q-page>
    <div class="row">
      <div
        v-if="!showCamera"
        class="col-12 text-center q-pt-md"
      >
        <img
          alt="StormCode logo"
          src="https://stormcode.pl/grafika/logo.png"
          style="width: 200px"
        >

        <q-dialog
          v-model="showConnErrorDialog"
          persistent
          transition-show="slide-up"
          transition-hide="slide-down"
        >
          <q-card>
            <q-card-section>
              <div class="text-h6 text-center">{{ dialogHeader }}</div>
            </q-card-section>

            <q-separator />

            <q-card-section style="max-height: 50vh" class="scroll">
              <span style="white-space: pre-line" v-if="error">{{ error }}</span>
            </q-card-section>

            <q-separator />

            <q-card-actions align="center">
              <div v-if="error">
                <q-btn flat label="OK" color="primary" v-close-popup />
              </div>
            </q-card-actions>
          </q-card>
        </q-dialog>

      </div>
    </div>
    <div class="row justify-center q-pt-lg">
      <div class="col-12 text-center">
        <span class="text-subtitle2">
          {{ textInfo }} <br>
        </span>
        <q-btn color="primary" rounded icon="center_focus_weak" label="Scan Tickets"
               class="q-mt-md" size="lg" style="width: 35vh" @click="connectToVerificationServer"
               v-show="!showCamera"/>

        <div class="q-ml-auto q-mr-auto q-pt-lg" v-if="!showCamera" style="width: 35vh;">
          <div class="q-gutter-md">
            <q-select v-model="serverSelection" :options="['Local', 'Remote']" label="Verification Server" @update:model-value="getPrinters"/>
          </div>
        </div>

        <div class="q-ml-auto q-mr-auto q-pt-lg" v-if="!showCamera" style="width: 35vh;">
          <div class="q-gutter-md">
            <q-select v-if="complete" :disable="serverSelection === 'Remote'" v-model="printerSelection" :options="printers" label="Printer" />
            <span v-if="serverSelection === 'Local' && printerSelection === null" class="text-negative">
              Please select printer to continue
            </span>
          </div>
        </div>

        <div v-if="showCamera">
          <qrcode-stream :camera="camera" :torch="torchActive && platform !== 'ios'" :track="this.paintOutline" @init="onInit" @decode="onDecode">
            <q-btn v-if="platform !== 'ios'" @click="torchActive = !torchActive" :icon="icon" style="float: left;" :disabled="torchNotSupported"/>
          </qrcode-stream>
          <q-dialog
            v-model="showDialog"
            persistent
            transition-show="slide-up"
            transition-hide="slide-down"
            style="z-index: 1050"
          >
            <q-card class="shadow-red" style="max-width: 40vh">
              <q-card-section>
                <div class="text-h6 text-center">{{ dialogHeader }}</div>
              </q-card-section>

              <q-separator />

              <q-card-section style="max-height: 60vh" class="scroll q-pt-xs q-pb-xs">
                <span style="white-space: pre-line" v-if="error">{{ error }}</span>
                <div v-else class="text-center" style="max-width: 40vh">
                  <div
                    v-if="ticketBlocked"
                    class="text-negative"
                    style="font-size: 1.3em"
                  >
                    <q-icon name="not_interested" size="sm" style="padding-bottom: 0.1em"/> Blocked Ticket
                  </div>
                  <div
                    v-else-if="ticketUnpaid"
                    class="text-negative"
                    style="font-size: 1.3em"
                  >
                    <q-icon name="not_interested" size="sm" style="padding-bottom: 0.1em"/> Unpaid Ticket
                  </div>
                  <div v-else>
                    <div
                      v-if="ticketValid && ticketAcceptedBefore"
                      class="text-warning"
                      style="font-size: 1.3em"
                    >
                      <q-icon name="info" size="sm" style="padding-bottom: 0.2em"/> Ticket Already Accepted
                      <div v-if="labelPrintedBefore">
                        <q-icon name="info" size="sm" style="padding-bottom: 0.2em"/> Label Already Printed
                      </div>
                    </div>
                    <div
                      v-else-if="ticketValid"
                      class="text-positive"
                      style="font-size: 1.3em"
                    >
                      <q-icon name="task_alt" size="sm" style="padding-bottom: 0.2em"/> Ticket Valid
                    </div>
                    <div
                      v-else
                      class="text-negative"
                      style="font-size: 1.3em"
                    >
                      <q-icon name="not_interested" size="sm" style="padding-bottom: 0.1em"/> Invalid Ticket
                    </div>
                    <div
                      v-if="studentConfirmation"
                      class="text-positive"
                      style="font-size: 1.3em"
                    >
                      <q-icon name="task_alt" size="sm" style="padding-bottom: 0.2em"/> Student Status Confirmed
                    </div>
                    <div
                      v-else-if="studentConfirmation === false "
                      class="text-negative"
                      style="font-size: 1.3em"
                    >
                      <q-icon name="not_interested" size="sm" style="padding-bottom: 0.1em"/> Invalid Student Status
                    </div>
                    <div class="row q-mt-sm">
                      <div class="col text-primary text-weight-bold" style="font-size: 1.1em">
                        NAME:
                      </div>
                      <div class="col" style="font-size: 1.1em">
                        {{ result.name }}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col text-primary text-weight-bold" style="font-size: 1.1em">
                        SURNAME:
                      </div>
                      <div class="col" style="font-size: 1.1em">
                        {{ result.surname }}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col text-primary text-weight-bold" style="font-size: 1.1em">
                        COMPANY:
                      </div>
                      <div class="col" style="font-size: 1.1em">
                        {{ result.company ? result.company : '—' }}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col text-primary text-weight-bold" style="font-size: 1.1em">
                        TICKET TYPE:
                      </div>
                      <div class="col" style="font-size: 1.1em">
                        {{ ticket_type_resolve[result.ticket_type_id] }}
                      </div>
                    </div>
                  </div>
                </div>
              </q-card-section>

              <q-card class="q-pt-xs">

                <q-card-section v-if="!error && ticketValid" style="min-height: 10vh; max-height: 60vh" class="scroll q-pa-xs">
                  <transition
                    appear
                    enter-active-class="animated fadeIn"
                    leave-active-class="animated fadeOut">
                      <div v-show="showVerifiedData">
                        <div class="row">
                          <div class="col text-center text-primary text-weight-bold" style="font-size: 1.1em">
                            TICKET OPTIONS: <br>
                            <div
                              v-for="(option, index) in ticketOptions"
                              :key="index"
                              class="text-black text-weight-regular"
                            >
                              <span>{{ option }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                  </transition>
                </q-card-section>

                <q-separator />

                <q-card-actions align="center">
                  <div v-if="error || serverSelection === 'Remote'">
                    <q-btn flat label="OK" color="primary" @click="unpause" v-close-popup />
                  </div>
                  <div v-else-if="showVerifiedData && ticketValid && (labelPrintedBefore || ticketAcceptedBefore) ">
                    <q-btn-group flat class="text-body2 text-center icon">
                      <q-btn size="sm" flat label="Cancel" style="font-size: 1.1em;" @click="unpause" v-close-popup />
                      <q-btn size="sm" flat label="Print Label" style="font-size: 1.1em" @click="onlyPrint" v-close-popup />
                    </q-btn-group>
                  </div>
                  <div v-else-if="showVerifiedData && ticketValid">
                    <q-btn-group flat class="text-body2 text-center icon">
                      <q-btn size="sm" flat label="Reject" style="font-size: 1.1em;" @click="rejectTicket" v-close-popup />
                      <q-btn size="sm" flat label="Accept & Print" style="font-size: 1.1em" @click="acceptAndPrint" v-close-popup />
                      <q-btn size="sm" flat label="Accept" style="font-size: 1.1em" @click="acceptTicket" v-close-popup />
                    </q-btn-group>
                  </div>
                  <div v-else>
                    <q-btn flat label="Cancel" color="primary" @click="unpause" v-close-popup />
                  </div>
                </q-card-actions>

                <q-inner-loading
                  :showing="loadingVisible"
                  label="Verifying ticket..."
                  label-class="text-teal"
                  label-style="font-size: 1.1em"
                />
              </q-card>
            </q-card>
          </q-dialog>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { QrcodeStream } from 'vue-qrcode-reader/src/index'
import { Capacitor } from '@capacitor/core'
import { api } from 'boot/axios'
import axios from 'axios'
import { useQuasar } from 'quasar'
import Swal from 'sweetalert2'

export default defineComponent({

  components: { QrcodeStream },
  setup () {
    const $q = useQuasar()
    $q.dark.set(false)
    const loadingVisible = ref(false)
    const showVerifiedData = ref(false)
    return {
      loadingVisible,
      showVerifiedData,
      showDialog: ref(false),
      showConnErrorDialog: ref(false),
      verificationServerIP: undefined
    }
  },
  data () {
    const userData = this.$store.getters['auth/getUserData']
    return {
      complete: false,
      printerSelection: null,
      serverSelection: 'Local',
      printers: [],
      isValid: undefined,
      camera: 'off',
      result: null,
      showCamera: false,
      error: null,
      platform: undefined,
      dialogHeader: '',
      ticket_type_resolve: {
        1: 'Full Delegate',
        2: 'Student',
        3: 'Accompanying person'
      },
      torchActive: false,
      torchNotSupported: undefined,
      verification: undefined,
      ticketValid: null,
      ticketOptions: null,
      verificationID: undefined,
      ticketBlocked: false,
      ticketUnpaid: false,
      studentConfirmation: null,
      ticketAcceptedBefore: false,
      labelPrintedBefore: false,
      userData
    }
  },
  mounted () {
    this.getPrinters()
  },
  computed: {
    icon () {
      return this.torchActive ? 'flashlight_off' : 'flashlight_on'
    },
    textInfo () {
      return this.showCamera ? 'Place the QR code on the camera lens.' : 'Press the button to start scanning.'
    }
  },
  beforeUnmount () {
    this.turnCameraOff()
  },
  methods: {
    async onDecode (content) {
      this.dialogHeader = 'Ticket information'
      this.resetTicketFlags()
      try {
        this.result = JSON.parse(atob(content))
      } catch (error) {
        this.error = `The scanned QR code is probably not from your infraBIM23 event ticket.
                      If in doubt, please contact the event's technical support.`
        this.dialogHeader = 'Invalid QR code'
      }
      this.showDialog = true
      this.pause()
      if (this.serverSelection === 'Local') {
        this.verifyWithLocal(content)
      } else {
        this.verifyWithRemote(content)
      }
      this.showDialog = true
      this.pause()
    },
    verifyWithRemote (decodedTicket) {
      this.loadingVisible = true
      this.showVerifiedData = false
      api.get(`/authorized/ticket/${this.result.ticket_id}/verify?ticket_encoded=${decodedTicket}&verification_type=all`)
        .then(res => {
          this.ticketValid = res.data.result
          if (res.data.result === true) {
            if (res.data.ticket.ticket_type_id === 1 || res.data.ticket.ticket_type_id === 2) {
              this.result.name = res.data.owner.user_data.data_name
              this.result.surname = res.data.owner.user_data.data_surname
              this.result.company = res.data.owner.user_data.data_company
            } else {
              this.result.name = res.data.owner.person_name
              this.result.surname = res.data.owner.person_surname
              this.result.company = null
            }
            this.loadingVisible = false
            this.showVerifiedData = true
            this.ticketOptions = res.data.options
          }
        })
        .catch(err => {
          console.log(err)
          this.loadingVisible = false
          this.showVerifiedData = false
        })
    },
    verifyWithLocal (decodedTicket) {
      this.loadingVisible = true
      this.showVerifiedData = false
      this.verification.get(`/api/ticket/${this.result.ticket_id}/verify?ticket_encoded=${decodedTicket}&verification_type=all&verificator_id=${this.userData.user_id}`)
        .then(res => {
          if (res.data.ticket.status !== '1') {
            if (res.data.ticket.status === '0') {
              this.ticketUnpaid = true
            }
            if (res.data.ticket.status === '2') {
              this.ticketBlocked = true
            }
          }
          this.ticketValid = res.data.result
          this.verificationID = res.data.verification_id
          if (res.data.result === true) {
            if (res.data.ticket.type_id === 1 || res.data.ticket.type_id === 2) {
              this.result.name = res.data.owner.data.name
              this.result.surname = res.data.owner.data.surname
              this.result.company = res.data.owner.data.company
              if (res.data.ticket.type_id === 2) {
                this.studentConfirmation = res.data.actions.studentVerified
                if (this.studentConfirmation === null) this.showStudentVerifyAlert()
              }
            } else {
              this.result.name = res.data.owner.name
              this.result.surname = res.data.owner.surname
              this.result.company = null
            }
            this.loadingVisible = false
            this.showVerifiedData = true
            this.ticketOptions = res.data.options
            this.ticketAcceptedBefore = res.data.actions.accepted
            this.labelPrintedBefore = res.data.actions.printed
          }
        })
        .catch(err => {
          console.log(err)
          this.loadingVisible = false
          this.showVerifiedData = false
        })
    },
    rejectTicket () {
      this.verification.post(`/api/verification/${this.verificationID}/save_action/rejected?verificator_id=${this.userData.user_id}`)
        .catch(err => {
          console.log(err)
          this.showErrorAlert('Something went wrong during rejecting ticket. Please try again.' +
            ' If problem persists please contact IT Tech Support immediately.')
        })
      this.unpause()
    },
    onlyPrint () {
      this.verification.get(`/api/verification/${this.verificationID}?verificator_id=${this.userData.user_id}&printer=${this.printerSelection}`)
        .then(() => {
          this.showSuccessAlert('Printing Label')
        })
        .catch(err => {
          this.showErrorAlert('Something went wrong during accepting ticket or printing label.' +
            ' Please try again. If problem persists please contact IT Tech Support immediately.')
          console.log(err)
        })
      this.unpause()
    },
    acceptAndPrint () {
      this.verification.post(`/api/verification/${this.verificationID}/save_action/accepted?verificator_id=${this.userData.user_id}`)
        .then(() => {
          this.verification.get(`/api/verification/${this.verificationID}?verificator_id=${this.userData.user_id}&printer=${this.printerSelection}`)
            .then(() => {
              this.showSuccessAlert('Ticket Accepted!', 'Ticket has been verified. Label is printing right now.')
            })
            .catch(err => {
              this.showErrorAlert('Something went wrong during accepting ticket or printing label.' +
                ' Please try again. If problem persists please contact IT Tech Support immediately.')
              console.log(err)
            })
        })
        .catch(err => {
          this.showErrorAlert('Something went wrong during accepting ticket or printing label.' +
            ' Please try again. If problem persists please contact IT Tech Support immediately.')
          console.log(err)
        })
      this.unpause()
    },
    acceptTicket () {
      this.verification.post(`/api/verification/${this.verificationID}/save_action/accepted?verificator_id=${this.userData.user_id}`)
        .then(() => {
          this.showSuccessAlert('Ticket Accepted!')
          Swal.fire({
            title: 'Ticket Accepted!',
            timer: 1500,
            icon: 'success',
            heightAuto: false,
            showCancelButton: false,
            showConfirmButton: false
          })
        })
        .catch(err => {
          this.showErrorAlert('Something went wrong during accepting ticket. Please try again.' +
            ' If problem persists please contact IT Tech Support immediately.')
          console.log(err)
        })
      this.unpause()
    },
    unpause () {
      this.camera = 'auto'
    },
    pause () {
      this.camera = 'off'
    },
    turnCameraOn () {
      this.camera = 'auto'
      this.showCamera = true
    },
    turnCameraOff () {
      this.camera = 'off'
      this.showCamera = false
      return 'Camera turned off'
    },
    getPrinters () {
      if (this.serverSelection === 'Local') {
        api.get('/authorized/local/ip')
          .then(res => {
            this.verificationServerIP = res.data.ip
            this.verification = axios.create({ baseURL: `http://${this.verificationServerIP}`, timeout: 5000 })
            this.verification.get('/api/status')
              .then(() => {
                this.verification.get('/api/printer')
                  .then(res => {
                    this.printers = res.data
                    this.complete = true
                    this.serverError = false
                  })
              })
              .catch(error => {
                this.showLocalConnectionErrorDialog()
                this.serverError = true
                this.serverSelection = 'Remote'
                console.log(error)
              })
          })
          .catch(err => {
            console.log(err)
            this.showConnectionErrorDialog()
          })
      }
    },
    connectToVerificationServer () {
      if (this.serverSelection === 'Local') {
        if (this.printerSelection === null) return
        api.get('/authorized/local/ip')
          .then(res => {
            this.verificationServerIP = res.data.ip
            this.verification = axios.create({ baseURL: `http://${this.verificationServerIP}`, timeout: 5000 })
            this.verification.get('/api/status')
              .then(res => {
                this.serverError = !res.data.status
                this.turnCameraOn()
              })
              .catch(error => {
                this.showLocalConnectionErrorDialog()
                console.log(error)
              })
          })
          .catch(err => {
            console.log(err)
            this.showConnectionErrorDialog()
          })
      } else {
        this.serverError = false
        this.turnCameraOn()
      }
    },
    async onInit (promise) {
      if (!this.serverError) {
        try {
          this.platform = Capacitor.getPlatform()
          const { capabilities } = await promise
          if (this.platform !== 'ios') {
            if (this.torchNotSupported === undefined) {
              this.torchNotSupported = !capabilities.torch
              if (!capabilities.torch) {
                this.showDialog = true
                this.dialogHeader = 'FLASHLIGHT ERROR'
                this.error = 'ERROR: Flashlight not supported for active camera'
              }
            }
          }
        } catch (error) {
          this.showDialog = true
          this.dialogHeader = 'CAMERA ERROR'
          if (error.name === 'NotAllowedError') {
            this.error = 'ERROR: you need to grant camera access permission'
          } else if (error.name === 'NotFoundError') {
            this.error = 'ERROR: no camera on this device'
          } else if (error.name === 'NotSupportedError') {
            this.error = 'ERROR: secure context required (HTTPS, localhost)'
          } else if (error.name === 'NotReadableError') {
            this.error = 'ERROR: is the camera already in use?'
          } else if (error.name === 'OverconstrainedError') {
            this.error = 'ERROR: installed cameras are not suitable'
          } else if (error.name === 'StreamApiNotSupportedError') {
            this.error = 'ERROR: Stream API is not supported in this browser'
          } else if (error.name === 'InsecureContextError') {
            this.error = 'ERROR: Camera access is only permitted in secure context. Use HTTPS or localhost rather than HTTP.'
          } else {
            this.error = `ERROR: Camera error (${error.name})`
          }
        }
      }
    },
    showConnectionErrorDialog () {
      this.showConnErrorDialog = true
      this.dialogHeader = 'CONNECTION ERROR'
      this.error = 'Cannot establish connection with verification server. Please contact with IT support team immediately.'
    },
    showLocalConnectionErrorDialog () {
      this.showConnErrorDialog = true
      this.dialogHeader = 'CONNECTION ERROR'
      this.error = 'Cannot establish connection with local verification server. You won\'t be able to accept tickets or print labels'
    },
    paintOutline (detectedCodes, ctx) {
      for (const detectedCode of detectedCodes) {
        const [firstPoint, ...otherPoints] = detectedCode.cornerPoints

        ctx.strokeStyle = 'red'

        ctx.beginPath()
        ctx.moveTo(firstPoint.x, firstPoint.y)
        for (const { x, y } of otherPoints) {
          ctx.lineTo(x, y)
        }
        ctx.lineTo(firstPoint.x, firstPoint.y)
        ctx.closePath()
        ctx.stroke()
      }
    },
    showSuccessAlert (title, text = null) {
      Swal.fire({
        title: title,
        timer: 2000,
        icon: 'success',
        text: text,
        heightAuto: false,
        showCancelButton: false,
        showConfirmButton: false
      })
    },
    showErrorAlert (text) {
      Swal.fire({
        title: 'Something Went Wrong!',
        icon: 'error',
        text: text,
        showCancelButton: false,
        showConfirmButton: true,
        confirmButtonColor: '#b41212'
      })
    },
    showStudentVerifyAlert () {
      Swal.fire({
        title: 'Confirmation required',
        icon: 'question',
        text: 'Please confirm that ticket owner is under 30 years old and have valid student card',
        showConfirmButton: true,
        showDenyButton: true,
        showCancelButton: false,
        denyButtonColor: '#b41212',
        confirmButtonColor: '#1a7200',
        confirmButtonText: 'Confirm',
        denyButtonText: 'Deny'
      }).then(result => {
        if (result.isConfirmed) {
          this.verification.post(`/api/verification/${this.verificationID}/save_action/student_verified?verificator_id=${this.userData.user_id}`)
            .then(() => {
              this.studentConfirmation = true
            })
            .catch(err => {
              this.showErrorAlert('Something went wrong during student verification. Please try again. If problem persists please contact IT Tech Support immediately.')
              console.log(err)
            })
        } else {
          this.verification.post(`/api/verification/${this.verificationID}/save_action/student_not_verified?verificator_id=${this.userData.user_id}`)
            .then(() => {
              this.studentConfirmation = false
            })
            .catch(err => {
              this.showErrorAlert('Something went wrong during student verification. Please try again. If problem persists please contact IT Tech Support immediately.')
              console.log(err)
            })
        }
      })
    },
    resetTicketFlags () {
      this.error = null
      this.ticketAcceptedBefore = false
      this.labelPrintedBefore = false
      this.studentConfirmation = null
      this.ticketValid = null
      this.ticketBlocked = false
      this.ticketUnpaid = false
    }
  }
})
</script>
