<template>
  <div class="window-height" style="padding-top: 33%">
    <img class="full-width" :src="require('src/assets/tick_page.png')"/>
    <h4 style="text-align: center" class="q-mt-md q-mb-lg">Twoje dane zostały zapisane</h4>
    <p style="text-align: center">Twój profil jest uzupełniony</p>
  </div>
  <q-page-sticky class="sticky-full-width q-pa-md bg-white" position="bottom">
    <q-btn class="full-width" color="primary" size="lg" style="text-transform: none;" :to="{ name: 'ticket.method' }">
      Dalej
    </q-btn>
  </q-page-sticky>
</template>

<script>
export default {
  name: 'DataFillSuccess'
}
</script>

<style scoped>

</style>
