<template>
  <q-page class="q-pa-md">
    <div class="q-gutter-md" style="font-size: 2em">
      <q-icon name="west" @click="$router.back()" color="dark" />
    </div>
    <h5 v-if="$route.params.login_method === 'SMS' || $route.params.login_method === 'Email'" class="q-mb-md">
      Podaj kod weryfikacyjny
    </h5>
    <h5 v-else class="q-mb-md">
      Podaj hasło
    </h5>
    <p v-if="$route.params.login_method === 'SMS' || $route.params.login_method === 'Email'">
      Na wskazany adres został wysłany kod weryfikacyjny. Sprawdź swoją skrzynkę i podaj kod logowania
    </p>
    <p v-else>
      Aby uzyskać dostęp do konta podaj wymagane dane
    </p>
    <q-form
      @submit="validateCode"
    >
      <q-input
        v-if="$route.params.login_method === 'SMS' || $route.params.login_method === 'Email'"
        class="q-mt-xl"
        type="text"
        v-model="code"
        :label="$route.params.login_method === 'SMS' ? $t('login.phoneCodeLogin.input_name') : $t('login.emailCodeLogin.input_name')"
        :rules="[
          val => val !== null && val !== '' || 'Please type your password'
        ]"
        style="margin-bottom:12vh"
        name="code"
        placeholder="000000"
        mask="######"
        fill-mask
        :outlined="true"
      />
      <q-input
        v-else
        class="q-mt-xl"
        :type="isPwd ? 'password' : 'text'"
        v-model="regPassword"
        :label="$t('login.password')"
        color="primary"
        label-color="dark"
        :outlined="true"
        :rules="[
          val => val !== null && val !== '' || 'Please type your password'
        ]"
        style="margin-bottom:12vh"
      >
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility' : 'visibility_off'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>

      <a v-if="$route.params.login_method === 'password'" href="https://panel.infrabim.info/forgot-password">
        <small>Zapomniałeś hasła?</small>
      </a>
      <q-page-sticky class="sticky-full-width q-pa-md backdrop-filter-blur" position="bottom">
        <q-btn class="full-width" type="submit" color="primary" size="lg" style="text-transform: none;">
          {{ $t('login.login') }}
        </q-btn>
      </q-page-sticky>
    </q-form>
    <q-inner-loading :showing="showOverlay">
      <q-spinner-gears size="50px" color="primary" />
    </q-inner-loading>
  </q-page>
</template>

<script>
import { useQuasar } from 'quasar'
import { api } from 'boot/axios'

let $q

export default {
  setup () {
    return {}
  },
  data () {
    return {
      showOverlay: false,
      regPassword: '',
      tab: 'full',
      code: '',
      isPwd: true
    }
  },
  methods: {
    async validateCode () {
      this.showOverlay = true
      return new Promise((resolve, reject) => {
        if (this.$route.params.login_method !== 'password') {
          const formData = {
            code: this.code
          }
          if (this.$route.params.login_method === 'SMS') {
            formData.phone = this.$route.params.user
          } else {
            formData.email = this.$route.params.user
          }
          api.post('/api/system/auth/standard/verify/code', formData)
            .then(async res => {
              if (res.data && res.data.token) {
                await this.$store.dispatch('auth/hardLogin', res.data)
                  .then(async () => {
                    await this.$store.dispatch('auth/loadUserData', { locale: this.$i18n.locale })
                    $q.notify({
                      color: 'green-4',
                      textColor: 'white',
                      icon: 'tick',
                      message: this.$t('login.logged_in')
                    })
                    if (this.$store.getters['auth/getUserData'].user_data_id) {
                      if (this.$store.getters['auth/getTicketId'] === 0) {
                        this.$router.push({ name: 'ticket.method' })
                      } else {
                        this.$router.push({ name: 'home' })
                      }
                    } else {
                      this.$router.push({ name: 'register.fill_data' })
                    }
                    this.showOverlay = false
                    resolve(true)
                  })
              } else {
                this.showOverlay = false
                reject()
              }
            })
            .catch(err => {
              this.showOverlay = false
              if (err.response && err.response.status === 422) {
                this.$refs.passcodeForm.errors[this.$route.params.login_method === 'SMS' ? this.$t('login.phoneCodeLogin.input_name') : this.$t('login.emailCodeLogin.input_name')].push(err.response.data.message)
              } else {
                console.log(err)
              }
              reject()
            })
        } else {
          this.$store.dispatch('auth/login', { email: this.$route.params.user, password: this.regPassword })
            .then(async () => {
              if (this.$store.getters['auth/getLoggedIn']) {
                await this.$store.dispatch('auth/loadUserData', { locale: this.$i18n.locale })
                $q.notify({
                  color: 'green-4',
                  textColor: 'white',
                  icon: 'tick',
                  message: this.$t('login.logged_in')
                })
                if (this.$store.getters['auth/getUserData'].user_data_id) {
                  if (this.$store.getters['auth/getTicketId'] === 0) {
                    await this.$router.push({ name: 'ticket.method' })
                  } else {
                    await this.$router.push({ name: 'home' })
                  }
                } else {
                  await this.$router.push({ name: 'register.fill_data' })
                }
                this.showOverlay = false
              } else {
                this.regPassword = ''
                this.showOverlay = false
                $q.notify({
                  color: 'red',
                  textColor: 'white',
                  icon: 'error',
                  message: this.$t('login.wrong_data')
                })
              }
            })
            .catch(err => {
              this.showOverlay = false
              $q.notify({
                color: 'red',
                textColor: 'white',
                icon: 'error',
                message: err.response.data.message ?? err.response.message ?? err.message
              })
              if (err.response.status === 422) {
                this.regPassword = ''
              }
            })
        }
      })
    }
  },
  mounted () {
    $q = useQuasar()
  }
}
</script>
