<template>
  <q-page class="q-pa-md">
    <div class="q-gutter-md" style="font-size: 2em">
      <q-icon name="west" @click="$router.push({ name: 'login.welcome' })" color="dark" />
    </div>
    <div>
      <h4 class="q-mb-md">Logowanie</h4>
      <p>Zaloguj się, aby zarządzać swoim uczestnictwem</p>
      <q-form
        @submit="validationForm"
      >
        <q-input
          class="full-width"
          v-model="emailOrPhone"
          label="Email *"
          :outlined="true"
          :rules="[ val => val && val.length > 0 || 'This field cannot be empty']"
        />
      </q-form>
      <q-page-sticky class="sticky-full-width q-pa-md backdrop-filter-blur" position="bottom">
        <q-btn class="full-width" type="submit" color="primary" size="lg" style="text-transform: none;" @click="validationForm">
          {{ $t('login.login') }}
        </q-btn>
      </q-page-sticky>
      <q-inner-loading :showing="loggingIn">
        <q-spinner-gears size="50px" color="primary" />
      </q-inner-loading>
    </div>
  </q-page>
</template>

<script>
import { useQuasar } from 'quasar'
import { api } from 'boot/axios'

let $q

export default {
  setup () {
    return {}
  },
  data () {
    return {
      loggingIn: false,
      emailOrPhone: '',
      tab: 'full'
    }
  },
  methods: {
    validationForm () {
      this.loggingIn = true
      if (!this.$store.getters['auth/getLoggedIn']) {
        api.post('/api/system/auth/standard/login/get_method', { emailOrPhone: this.emailOrPhone })
          .then(res => {
            this.loggingIn = false
            this.$router.push({
              name: 'login.passcode',
              params: {
                login_method: res.data.data.login_method,
                user: res.data.data.user
              }
            })
          })
          .catch(() => {
            this.loggingIn = false
            $q.notify({
              color: 'red',
              textColor: 'white',
              icon: 'error',
              message: 'Wrong email'
            })
          })
      } else {
        this.loggingIn = false
      }
    }
  },
  mounted () {
    $q = useQuasar()
  }
}
</script>
