<template>
  <div class="q-pa-md">
    <div class="q-mb-md q-gutter-md" style="font-size: 2em">
      <q-icon name="west" @click="$router.push({ name: 'login.welcome' })" color="dark" />
    </div>
    <h5 class="q-mt-md">Rejestracja</h5>
    <q-form v-if="agreementsShow" @submit="checkAgreements">
      <p><b>Wymagane zgody</b></p>
      <div class="q-mb-sm">
        <q-checkbox
          v-model="allCheck"
          :label="$t('agreements.checkall')"
          @click="checkAll"
        />
      </div>
      <div class="q-mb-lg">
        <q-checkbox
          v-model="agreements.first"
        /><span v-html="(hide.first) ? $t('agreements.first').substring(0, 120)+'...' : $t('agreements.first')" /> <br><a href="javascript:void" v-if="hide.first" @click="() => {hide.first = !hide.first}">Pokaż więcej</a> <a href="javascript:void" v-else @click="() => {hide.first = !hide.first}">Ukryj</a>
      </div>
      <div class="q-mb-lg">
        <q-checkbox
          v-model="agreements.second"
        /><span v-html="$t('agreements.second')" />
      </div>
      <div class="q-mb-lg">
        <q-checkbox
          v-model="agreements.third"
        /><span v-html="$t('agreements.third')" />
      </div>
      <div class="q-mb-lg">
        <q-checkbox
          v-model="agreements.fourth"
        /><span v-html="$t('agreements.fourth')" />
      </div>
      <p class="q-mb-sm q-mt-lg"><b>Opcjonalne zgody</b></p>
      <div class="q-mb-lg">
        <q-checkbox
          v-model="agreements.fifth"
        /><span v-html="$t('agreements.fifth')" />
      </div>
      <div class="q-mb-lg">
        <div
          v-for="partner in agreementsRODO"
          :key="partner.id"
        >
          <q-checkbox
            v-model="agreements[partner.id]"
            :label="$t('agreements.RODOcompany.0') + ' ' + partner.name + ' ' + $t('agreements.RODOcompany.1')"
          />
        </div>
      </div>
      <div class="q-pa-xl"></div>
      <q-page-sticky class="sticky-full-width q-pa-md backdrop-filter-blur border-blue-grey-2" position="bottom" style="border-top: 1px solid">
        <q-btn class="full-width" type="submit" color="primary" size="lg" style="text-transform: none">
          Dalej
        </q-btn>
      </q-page-sticky>
    </q-form>
    <q-form v-else @submit="checkFormData">
      <p>Aby wziąć udział w wydarzeniu musisz się zarejestrować</p>
      <q-input
        label="Email"
        v-model="regEmail"
        type="email"
        name="email"
        placeholder="john@example.com"
        :outlined="true"
        :rules="[ val => val.match(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/) || 'Please enter a valid email address' ]"
      />
      <div class="row full-width">
        <div class="col-5">
          <q-select
            :options="phoneSelectOptions"
            v-model="dirNo"
            :outlined="true"
            :placeholder="$t('login.phone')"
          />
        </div>
        <div class="col-7">
          <q-input
            :label="$t('login.phone')"
            v-model="regPhone"
            type="tel"
            name="phone"
            :outlined="true"
            :placeholder="$t('login.phone')"
            :rules="[val => (val.length === 0 || val.length > 8) || 'Wrong phone numer']"
          />
        </div>
      </div>
      <small>{{ $t('login.phoneRequirements') }}</small>
      <p class="q-mb-sm q-mt-lg"><b>Sposób logowania</b></p>
      <q-list class="q-mb-lg">
        <q-item style="padding-left: 0;padding-right: 0" tag="label" v-ripple>
          <q-item-section avatar>
            <q-radio v-model="loginOption" val="SMS" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ $t('register.loginVia.sms') }}</q-item-label>
          </q-item-section>
        </q-item>
        <hr>
        <q-item style="padding-left: 0;padding-right: 0" tag="label" v-ripple>
          <q-item-section avatar>
            <q-radio v-model="loginOption" val="Email" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ $t('register.loginVia.email') }}</q-item-label>
          </q-item-section>
        </q-item>
        <hr>
        <q-item style="padding-left: 0;padding-right: 0" tag="label" v-ripple>
          <q-item-section avatar>
            <q-radio v-model="loginOption" val="password" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ $t('register.loginVia.password') }}</q-item-label>
          </q-item-section>
        </q-item>
        <hr>
      </q-list>
      <q-input
        v-if="loginOption === 'password'"
        :type="isPwd ? 'password' : 'text'"
        v-model="regPassword"
        :label="$t('login.password')"
        color="primary"
        label-color="dark"
        :outlined="true"
        :rules="[ val => val.match(/[!@#$%^&*(),./?;:\[\]{}\\\-+=_|]/) && val.length > 6 && val.match(/[A-Z]/) && val.match(/[a-z]/) && val.match(/[0-9]/) || 'Password should contain at least 1 [0-9] etc' ]"
      >
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility' : 'visibility_off'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
      <div class="q-pa-xl"></div>
      <q-page-sticky class="sticky-full-width q-pa-md backdrop-filter-blur border-blue-grey-2" position="bottom" style="border-top: 1px solid">
        <q-btn class="full-width" type="submit" color="primary" size="lg" style="text-transform: none">
          {{ loginOption === 'password' ? $t('register.register') : $t('register.sendCode') }}
        </q-btn>
      </q-page-sticky>
    </q-form>
    <q-inner-loading :showing="showOverlay">
      <q-spinner-gears size="50px" color="primary" />
    </q-inner-loading>
  </div>
</template>

<script>
import { useQuasar } from 'quasar'
import jsonCountryPhones from 'assets/data/country_phones.json'
import jsonCountryCodes from 'assets/data/country_codes.json'
import { api } from 'boot/axios'

let $q

export default {
  data () {
    $q = useQuasar()
    this.showOverlay = true
    const phoneSelectOptions = [{ value: null, label: '+...' }]
    for (const [key, value] of Object.entries(jsonCountryPhones)) {
      phoneSelectOptions.push({ value, label: `${jsonCountryCodes[key]} +${value}` })
    }
    this.agreementsRODO = []
    api.get('/api/partner/rodos')
      .then(res => {
        res.data.data.forEach(partner => {
          this.agreementsRODO.push(partner)
          this.agreements[partner.id] = false
        })
        this.showOverlay = false
      })
    return {
      isPwd: 'password',
      agreementsRODO: [],
      regEmail: '',
      regPhone: '',
      dirNo: { value: null, label: '+...' },
      regLoginMethod: null,
      allCheck: false,
      agreementsShow: true,
      loginOption: null,
      showOverlay: true,
      agreements: {
        first: false,
        second: false,
        third: false,
        fourth: false,
        fifth: false
      },
      hide: {
        first: true
      },
      code: '',
      regPassword: '',
      codeSent: false,
      phoneSelectOptions,
      passwordFieldType: 'password'
    }
  },
  computed: {
    passwordToggleIcon () {
      return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    }
  },
  methods: {
    checkAll () {
      this.agreements.first = this.allCheck
      this.agreements.second = this.allCheck
      this.agreements.third = this.allCheck
      this.agreements.fourth = this.allCheck
    },
    checkAgreements () {
      return new Promise((resolve, reject) => {
        if (this.agreements.first && this.agreements.second && this.agreements.third && this.agreements.fourth) {
          this.agreementsShow = false
          resolve(true)
        } else {
          $q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'error',
            message: this.$t('register.agreementsError')
          })
          reject()
        }
      })
    },
    checkFormData () {
      this.showOverlay = true
      return new Promise((resolve, reject) => {
        if (!this.regEmail.match(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/)) {
          this.showOverlay = false
          return reject()
        }
        if (this.dirNo.value === null && this.regPhone.length !== 0) {
          this.showOverlay = false
          $q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'error',
            message: 'Please provide country code'
          })
          return reject()
        }
        if (this.dirNo.value !== null && this.regPhone.length < 9) {
          this.showOverlay = false
          $q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'error',
            message: 'Please provide correct phone number'
          })
          return reject()
        }
        const formData = {
          email: this.regEmail,
          login_method: this.loginOption,
          agreements: this.agreements
        }
        if (this.loginOption === 'password') {
          formData.password = this.regPassword
        }
        if (this.dirNo !== null && this.regPhone.length >= 9) {
          formData.phone = `${this.dirNo.value}${this.regPhone}`
        }
        api.post('/api/system/auth/standard/register/process_form', formData)
          .then(async res => {
            if (res.status) {
              this.showOverlay = false
              if (this.loginOption !== 'password') {
                $q.notify({
                  color: 'green-4',
                  textColor: 'white',
                  icon: 'tick',
                  message: `${this.$t('register.code_sent')} (${this.loginOption})`
                })
                this.$router.push({
                  name: 'login.passcode',
                  params: {
                    login_method: this.loginOption,
                    user: this.loginOption === 'SMS' ? `${this.dirNo}${this.regPhone}` : this.regEmail
                  }
                })
              } else {
                await this.$store.dispatch('auth/hardLogin', res.data)
                  .then(async () => {
                    $q.notify({
                      color: 'green-4',
                      textColor: 'white',
                      icon: 'tick',
                      message: this.$t('register.successful')
                    })
                    this.$router.push({ name: 'register.fill_data' })
                  })
              }
              resolve(true)
            }
          })
          .catch(err => {
            this.showOverlay = false
            if (err.response.status === 422) {
              $q.notify({
                color: 'red',
                textColor: 'white',
                icon: 'error',
                message: err.response.data.message
              })
            } else {
              $q.notify({
                color: 'red',
                textColor: 'white',
                icon: 'error',
                message: err
              })
            }
            reject()
          })
      })
    }
  }
}
</script>
