<template>
  <q-page>
    <Locale class="absolute q-mt-md q-mr-md" />
    <q-carousel
      v-model="slide"
      swipeable
      animated
      :arrows="true"
      control-color="primary"
      :navigation="true"
      navigation-position="bottom"
      height="100vh"
      transition-prev="slide-right"
      transition-next="slide-left"
    >
      <q-carousel-slide name="first" class="column no-wrap flex-center">
        Info 1
      </q-carousel-slide>
      <q-carousel-slide name="second" class="column no-wrap flex-center">
        Info 2
      </q-carousel-slide>
      <q-carousel-slide name="third" class="column no-wrap flex-center">
        <div class="absolute-bottom q-pa-md" style="text-align: center;margin-bottom: 10vh">
          <q-btn class="full-width q-mb-md" :to="{name: 'login'}" color="primary" label="Log in" />
          <q-btn class="full-width" :to="{name: 'register'}" color="primary" label="Register" />
        </div>
      </q-carousel-slide>
    </q-carousel>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import Locale from 'components/Locale.vue'

export default defineComponent({
  name: 'ParticipationTypeChoice',
  components: { Locale },
  data () {
    return {
      slide: 'first'
    }
  }
  // data () {
  //   const $q = useQuasar()
  //   $q.dark.set(true)
  //   return {}
  // }
})
</script>
