<template>
  <q-page style="background-color: #FAF5F5">
    <q-tabs
      v-model="tab"
      dense
      class="text-grey"
      active-color="primary"
      indicator-color="primary"
      align="justify"
      narrow-indicator
    >
      <q-tab name="agenda" label="Agenda" />
      <q-tab name="poster-session" label="Poster Session" />
    </q-tabs>

    <q-tab-panels v-model="tab" style="background: #FAF5F5" animated>
      <q-tab-panel name="agenda">
        <div class="row q-ma-md items-start text-center justify-center">
          <div
            v-for="(day, index) in agenda"
            :key="index"
            class="col 4"
          >
            <q-btn
              :outline="day.agenda_day_name !== agendaDaySelector"
              :color="day.agenda_day_name !== agendaDaySelector ? 'black' : 'primary'"
              :label="day.agenda_day_name"
              @click="selectAgendaDay(day.agenda_day_name)"
            />
          </div>
        </div>
        <div
          v-for="(day, index) in agenda"
          :key="index"
        >
          <q-list
            v-if="day.agenda_day_name === agendaDaySelector"
            bordered
            class="shadow-red"
          >
            <div
              v-for="(session, item) in day.sessions"
              :key="item"
            >
              <q-expansion-item
                expand-separator
                :label="session.name"
                :caption="session.startTime"
                :disable="!session.draggable"
              >
                <q-card style="background: #FAF5F5">
                  <q-card-section>
                    <q-list
                      bordered
                      class="inner-shadow-grey"
                      style="background: #FAF5F5"
                    >
                      <div
                        v-for="(lecture, id) in session.lectures"
                        :key="id"
                      >
                        <q-expansion-item
                          expand-separator
                          :label="`#${lecture.article_id} ${lecture.name}`"
                          :caption="`${lecture.user.user_data.title} ${lecture.user.user_data.name} ${lecture.user.user_data.surname}`"
                        >
                          <q-card style="background: #FAF5F5">
                            <q-card-section>
                              Authors:
                              <ul>
                                <li
                                  v-for="(author, authorID) in lecture.authors"
                                  :key="authorID"
                                >
                                  {{author.title}} {{author.name}} {{author.surname}}
                                </li>
                              </ul>
                              Topics:
                              <ul>
                                <li
                                  v-for="(topic, topicID) in lecture.article_main_topics"
                                  :key="topicID"
                                >
                                  {{topic.article_main_topic}}
                                </li>
                              </ul>
                              <div class="q-mb-xs">Presenting author: </div>
                              <span>{{lecture.user.user_data.title}} {{lecture.user.user_data.name}} {{lecture.user.user_data.surname}}</span><br>
                              <span class="text-grey">{{lecture.user.user_data.affiliation}}</span>
                              <div class="q-mt-sm justify-end text-right">
                                <a @click="downloadPaper(lecture.article_id)">
                                  <q-icon name="download" color="primary"/>
                                  Download Article
                                </a>
                              </div>
                              <hr style="width: 100%">
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                      </div>
                    </q-list>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </div>
          </q-list>
        </div>
      </q-tab-panel>
      <q-tab-panel name="poster-session">
        <q-list
          bordered
          class="shadow-red"
        >
          <div
            v-for="(poster, item) in posters"
            :key="item"
          >
            <q-expansion-item
              expand-separator
              :label="`#${poster.article_id} ${poster.article_title}`"
              :caption="`${poster.user.user_data.data_title} ${poster.user.user_data.data_name} ${poster.user.user_data.data_surname}`"
            >
              <q-card style="background: #FAF5F5">
                <q-card-section>
                  Authors:
                  <ul>
                    <li
                      v-for="(author, authorID) in poster.article_authors"
                      :key="authorID"
                    >
                      {{author.title}} {{author.name}} {{author.surname}}
                    </li>
                  </ul>
                  Topics:
                  <ul>
                    <li
                      v-for="(topic, topicID) in poster.article_main_topics"
                      :key="topicID"
                    >
                      {{topic.article_main_topic}}
                    </li>
                  </ul>
                  <div class="q-mb-xs">Presenting author: </div>
                  <span>{{poster.user.user_data.data_title}} {{poster.user.user_data.data_name}} {{poster.user.user_data.data_surname}}</span><br>
                  <span class="text-grey">{{poster.user.user_data.data_company}}</span>
                  <div class="q-mt-sm justify-end text-right">
                    <a @click="downloadPaper(poster.article_id)">
                      <q-icon name="download" color="primary"/>
                      Download Article
                    </a>
                  </div>
                  <hr style="width: 100%">
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
        </q-list>
      </q-tab-panel>
    </q-tab-panels>
  </q-page>
</template>

<script>
import {
  QList,
  QExpansionItem,
  QBtn,
  QTabs,
  QTab,
  QTabPanel,
  QTabPanels,
  QIcon,
  openURL, useQuasar
} from 'quasar'
import { ref } from 'vue'
import { api } from 'boot/axios'

export default {
  name: 'ShowAgenda',
  components: {
    QList,
    QExpansionItem,
    QBtn,
    QTabs,
    QTab,
    QTabPanel,
    QTabPanels,
    QIcon
  },
  setup () {
    const $q = useQuasar()
    $q.dark.set(false)
  },
  data () {
    this.getAgendaData()
    this.getPosters()
    return {
      tab: ref('agenda'),
      model: ref('two'),
      agenda: [],
      posters: [],
      agendaDaySelector: 'Day 0'
    }
  },
  methods: {
    getAgendaData () {
      api.get('/agenda')
        .then(res => {
          this.agenda = res.data
          this.authorsParser()
          this.dateTimeParser()
        })
    },
    getPosters () {
      api.get('/agenda/posters')
        .then(res => {
          this.posters = res.data
        })
    },
    downloadPaper (articleID) {
      openURL('https://ccc2022zakopane.pl/download/article/pdf/' + articleID)
    },
    selectAgendaDay (agendaDayName) {
      this.agendaDaySelector = agendaDayName
    },
    formatTime (n) {
      return (n < 10 ? '0' : '') + n
    },
    authorsParser () {
      this.agenda.forEach(day => {
        day.sessions.forEach(session => {
          session.lectures.forEach(lecture => {
            // eslint-disable-next-line no-param-reassign
            lecture.authors = JSON.parse(lecture.authors)
          })
        })
      })
    },
    dateTimeParser () {
      this.agenda.forEach(day => {
        day.sessions.forEach(session => {
          const dateTimeParts = session.startTime.split(/[- :]/)
          // eslint-disable-next-line no-unused-expressions,no-plusplus
          dateTimeParts[1]--
          const tempTime = new Date(...dateTimeParts)
          // eslint-disable-next-line no-param-reassign
          session.startTime = `${this.formatTime(tempTime.getHours())}:${this.formatTime(tempTime.getMinutes())}`
        })
      })
    }
  }
}
</script>

<style scoped>
 .shadow-red {
   box-shadow: 0.4rem 0.5rem #b41212;
 }
 .inner-shadow-grey {
   box-shadow: 0.3rem 0.3rem #afafaf;
 }
</style>
