<template>
  <div class="q-pa-md">
    <div>
      <h5>
        403
      </h5>

      <p>
        Forbidden - Infused permissions
      </p>

      <q-btn
        class="q-mt-xl full-width"
        color="primary"
        text-color="white"
        :to="$store.getters['auth/getLoggedIn'] ? { name: 'home' } : { name: 'login' }"
        label="Go Home"
        no-caps
      />
      <br>
      <q-btn
        v-if="$store.getters['auth/getLoggedIn']"
        class="q-mt-xl full-width"
        color="primary"
        text-color="white"
        label="Logout"
        no-caps
        @click="logout"
      />
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Error403',
  async data () {
    if (this.$store.getters['auth/getLoggedIn']) {
      await this.$store.dispatch('auth/loadUserData', { locale: this.$i18n.locale })
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
        .then(() => {
          this.$router.push({ name: 'login' })
        })
    }
  }
})
</script>
