<template>
  <h5 class="q-my-none q-pt-md q-pl-md ">Map of CCC Conference</h5>
  <div class="row justify-center">
    <div class="col-11">
      <q-img src="~assets/mapka_kompleks.png" class="q-mt-md" fit="scale-down"/>
    </div>
  </div>
  <div class="row justify-center q-mt-md">
    <div class="col-5" style="border-right: 1px solid #9a9a9a">
      <p>
        1 - CCC Reception<br>
        <small>level 0</small><br>
        2 - Hotel Reception<br>
        <small>level 0</small><br>
        3 - Gerlach Congress Center<br>
        <small>level 0</small><br>
        4 - Grand Restaurant<br>
        <small>level 1</small><br>
        5 - Regional Restaurant<br>
        <small>level 1</small><br>
        6 - Swimming Pool, Sauna<br>
        <small>level -1</small><br>
      </p>
    </div>
    <div class="col-5 q-pl-md">
      <p>
        A - Residence II<br>
        B - Hotel Grand<br>
        C - Residence I<br>
        D - Hotel
      </p>
    </div>
  </div>
  <hr>
  <h5 class="q-my-none q-mb-md q-pt-md q-pl-md ">Gerlach Conference Center</h5>
  <q-tabs
    v-model="mapTab"
    dense
    class="text-grey"
    active-color="primary"
    indicator-color="primary"
    align="justify"
    narrow-indicator
  >
    <q-tab name="conference" label="Conference space" />
    <q-tab name="expo" label="Expo space" />
    <q-tab name="gala" label="Gala Dinner Space" />
  </q-tabs>
  <q-tab-panels v-model="mapTab" style="background: #FAF5F5 !important;" animated>
    <q-tab-panel name="conference">
      <img src="~assets/gerlach_12.png" style="max-width: 95%">
    </q-tab-panel>
    <q-tab-panel name="expo">
      <img src="~assets/gerlach_34.png" usemap="#image-map" style="max-width: 95%">

      <map name="image-map">
        <area target="" alt="E1" title="E1" coords="95,38,252,278" shape="rect" @click="clickAtArea('E1')">
        <area target="" alt="E2" title="E2" coords="96,283,254,524" shape="rect" @click="clickAtArea('E2')">
        <area target="" alt="E3" title="E3" coords="423,221,579,460" shape="rect" @click="clickAtArea('E3')">
        <area target="" alt="E4" title="E4" coords="424,467,580,708" shape="rect" @click="clickAtArea('E4')">
        <area target="" alt="E5" title="E5" coords="421,709,579,948" shape="rect" @click="clickAtArea('E5')">
        <area target="" alt="E6" title="E6" coords="423,953,580,1191" shape="rect" @click="clickAtArea('E6')">
        <area target="" alt="E7" title="E7" coords="584,222,743,462" shape="rect" @click="clickAtArea('E7')">
        <area target="" alt="E8" title="E8" coords="584,467,742,704" shape="rect" @click="clickAtArea('E8')">
        <area target="" alt="E9" title="E9" coords="584,709,742,948" shape="rect" @click="clickAtArea('E9')">
        <area target="" alt="E10" title="E10" coords="583,952,741,1194" shape="rect" @click="clickAtArea('E10')">
        <area target="" alt="E11" title="E11" coords="911,38,1068,280" shape="rect" @click="clickAtArea('E11')">
        <area target="" alt="E12" title="E12" coords="912,283,1068,524" shape="rect" @click="clickAtArea('E12')">
        <area target="" alt="C1" title="C1" coords="911,527,1068,683" shape="rect" @click="clickAtArea('C1')">
        <area target="" alt="C2" title="C2" coords="911,686,1069,844" shape="rect" @click="clickAtArea('C2')">
        <area target="" alt="C3" title="C3" coords="912,847,1069,1002" shape="rect" @click="clickAtArea('C3')">
        <area target="" alt="C4" title="C4" coords="912,1007,1068,1163" shape="rect" @click="clickAtArea('C4')">
        <area target="" alt="C5" title="C5" coords="912,1166,1071,1322" shape="rect" @click="clickAtArea('C5')">
        <area target="" alt="P1" title="P1" coords="422,1196,581,1289" shape="rect" @click="clickAtArea('P1')">
        <area target="" alt="P2" title="P2" coords="584,1197,742,1289" shape="rect" @click="clickAtArea('P2')">
        <area target="" alt="P3" title="P3" coords="910,1325,1070,1410" shape="rect" @click="clickAtArea('P3')">
        <area target="" alt="P4" title="P4" coords="910,1413,1070,1497" shape="rect" @click="clickAtArea('P4')">
        <area target="" alt="P5" title="P5" coords="403,1421,461,1365,460,1291,347,1291,348,1367,403,1420" shape="poly" @click="clickAtArea('P5')">
        <area target="" alt="P6" title="P6" coords="461,1291,575,1291,573,1364,516,1422,462,1368" shape="poly" @click="clickAtArea('P6')">
        <area target="" alt="P7" title="P7" coords="576,1290,686,1291,686,1365,629,1421,574,1365" shape="poly" @click="clickAtArea('P7')">
        <area target="" alt="P8" title="P8" coords="347,1375,293,1428,293,1496,402,1497,403,1431" shape="poly" @click="clickAtArea('P8')">
        <area target="" alt="P9" title="P9" coords="404,1431,403,1497,517,1499,516,1432,460,1375" shape="poly" @click="clickAtArea('P9')">
        <area target="" alt="P10" title="P10" coords="573,1374,517,1431,519,1498,626,1499,628,1431" shape="poly" @click="clickAtArea('P10')">
        <area target="" alt="P11" title="P11" coords="686,1374,630,1431,631,1498,741,1499,740,1430,741,1430" shape="poly" @click="clickAtArea('P11')">
        <area target="" alt="P12" title="P12" coords="673,1677,614,1622,615,1538,731,1538,731,1618" shape="poly" @click="clickAtArea('P12')">
        <area target="" alt="P13" title="P13" coords="733,1538,732,1618,787,1672,844,1617,844,1539" shape="poly" @click="clickAtArea('P13')">
        <area target="" alt="P14" title="P14" coords="677,1681,731,1627,787,1683,786,1751,677,1749" shape="poly" @click="clickAtArea('P14')">
        <area target="" alt="P15" title="P15" coords="844,1627,788,1683,787,1750,897,1752,898,1680" shape="poly" @click="clickAtArea('P15')">
      </map>
    </q-tab-panel>
    <q-tab-panel name="gala">
      <img src="~assets/gerlach_56.png" style="max-width: 95%">
    </q-tab-panel>
  </q-tab-panels>
  <q-dialog v-model="boxInfoShow" persistent>
    <q-card v-if="!boxClicked.includes('P')">
      <q-toolbar style="flex-flow: column-reverse;">
        <img v-if="img" class="q-mt-md" style="max-width: 80%" :src="img">
        <p v-else>{{ name }}</p>
      </q-toolbar>
      <q-card-section v-if="desc" class="row items-center">
        <span class="q-ml-sm"><strong>{{ name }}:</strong> {{ desc }}</span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Close" color="primary" v-close-popup />
        <q-btn v-if="url" flat label="Company website" color="primary" :href="url" v-close-popup />
      </q-card-actions>
    </q-card>
    <q-card v-else>
      <q-toolbar style="flex-flow: column-reverse;">
        <h5 class="q-mt-md q-mb-sm q-ml-md">{{ name }}</h5>
      </q-toolbar>
      <q-card-section class="row items-center scroll" style="max-height: 50vh">
        <span class="q-ml-sm" v-html="desc"></span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Close" color="primary" v-close-popup />
        <q-btn @click="this.downloadPaper(this.assoc[boxClicked])" flat label="Download article PDF" color="primary" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
// eslint-disable-next-line
import imageMapResize from '../js/imageMapResizer.js'
import ImageMap from 'image-map'
import { api } from 'boot/axios'
import { openURL, useQuasar } from 'quasar'

export default {
  name: 'EventMap',
  setup () {
    const $q = useQuasar()
    $q.dark.set(false)
  },
  data () {
    ImageMap('img[usemap]')
    let sponsors = {}
    if (window.localStorage.getItem('sponsorsClear') && window.localStorage.getItem('sponsorsClear') !== 'undefined' && window.localStorage.getItem('sponsors_time') && (new Date().getTime()) - JSON.parse(window.localStorage.getItem('sponsors_time')) < 1000 * 60 * 60 * 24) {
      sponsors = JSON.parse(window.localStorage.getItem('sponsorsClear'))
    } else {
      api.get('authorized/sponsor')
        .then(res => {
          this.sponsors = {}
          res.data.data.forEach(val => {
            if (val.sponsor_show_on_page) {
              if (!this.sponsors[val.sponsor_type_id]) {
                this.sponsors[val.sponsor_type_id] = []
              }
              this.sponsors[val.sponsor_type_id].push(val)
            }
          })
          window.localStorage.setItem('sponsors', JSON.stringify(this.sponsors))
          this.sponsors = res.data.data
          window.localStorage.setItem('sponsorsClear', JSON.stringify(res.data.data))
          window.localStorage.setItem('sponsors_time', JSON.stringify(new Date().getTime()))
        })
    }
    return {
      sponsors,
      mapTab: 'expo',
      boxInfoShow: false,
      boxClicked: '',
      assoc: {
        E1: 42,
        E2: 38,
        E3: 37,
        E4: 43,
        E5: 28,
        E6: 23,
        E7: 36,
        E8: 33,
        E9: 31,
        E10: 32,
        E11: 40,
        E12: { name: 'Silesian University of Technology', url: 'https://www.polsl.pl/' },
        C1: { name: 'Poland', desc: 'Traditional CCC box of Poland', img: 'https://www.worldometers.info/img/flags/small/tn_pl-flag.gif' },
        C2: { name: 'Czechia', desc: 'Traditional CCC box of Czech', img: 'https://www.worldometers.info/img/flags/small/tn_ez-flag.gif' },
        C3: { name: 'Hungary', desc: 'Traditional CCC box of Hungary', img: 'https://www.worldometers.info/img/flags/small/tn_hu-flag.gif' },
        C4: { name: 'Croatia', desc: 'Traditional CCC box of Croatia', img: 'https://www.worldometers.info/img/flags/small/tn_hr-flag.gif' },
        C5: { name: 'Austria', desc: 'Traditional CCC box of Austria', img: 'https://www.worldometers.info/img/flags/small/tn_au-flag.gif' },
        P1: 21,
        P2: 8,
        P3: 19,
        P4: 57,
        P5: 7,
        P6: 38,
        P7: 54,
        P8: 15,
        P9: 2,
        P10: 3,
        P11: 11,
        P12: 67,
        P13: 47,
        P14: 56,
        P15: 13
      },
      name: '',
      img: '',
      desc: '',
      url: ''
    }
  },
  watch: {
    async mapTab (newMapTab, oldMapTab) {
      if (newMapTab === 'expo') {
        await new Promise(resolve => setTimeout(resolve, 500))
        imageMapResize()
      }
    }
  },
  mounted () {
    imageMapResize()
  },
  methods: {
    downloadPaper (articleID) {
      openURL('https://ccc2022zakopane.pl/download/article/pdf/' + articleID)
    },
    clickAtArea (areaId) {
      this.boxClicked = areaId
      this.name = ''
      this.img = ''
      this.desc = ''
      this.url = ''
      if (typeof this.assoc[areaId] === 'object') {
        this.url = this.assoc[areaId].url ?? null
        this.name = this.assoc[areaId].name ?? null
        this.img = this.assoc[areaId].img ?? null
        this.desc = this.assoc[areaId].desc ?? null
      } else if (areaId.includes('E')) {
        this.sponsors.forEach(sponsor => {
          if (sponsor.sponsor_id === this.assoc[areaId]) {
            this.url = sponsor.sponsor_url
            this.img = `https://infrabim.info/${sponsor.sponsor_logo}`
            this.name = sponsor.sponsor_name
          }
        })
      } else if (areaId.includes('P')) {
        api.get(`authorized/article_for_app/${this.assoc[areaId]}`)
          .then(res => {
            this.url = ''
            this.name = res.data.article_title
            this.img = ''
            // eslint-disable-next-line
            let desc = []
            desc[0] = []
            res.data.article_authors.forEach(author => {
              desc[0].push(`${author.title} ${author.name} ${author.surname} ${author.company}`)
            })
            desc[0] = '<strong>Authors: </strong><br>' + desc[0].join('<br>')
            desc[1] = '<br><strong>Abstract: </strong>' + res.data.article_abstract
            this.desc = desc.join('<br>')
          })
      }
      this.boxInfoShow = true
    }
  }
}
</script>
<style scoped>

</style>
