<template>
  <q-page>
    <sponsors></sponsors>
    <q-pull-to-refresh class="q-pa-md" @refresh="refresh">
      <q-icon name="bi-person" size="md" class="q-pa-sm" style="border: 1px solid;border-radius: 90px" @click="$router.push({ name: 'main.userData' })"/>
      <h5>Witaj na infraBIM 2023</h5>
      <actual-agenda-point></actual-agenda-point>
      <food-bridge></food-bridge>
      <news></news>
    </q-pull-to-refresh>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import Sponsors from './Sponsors'
import FoodBridge from '../components/FoodBridge.vue'
import News from '../components/News.vue'
import ActualAgendaPoint from './ActualAgendaPoint'

export default defineComponent({
  name: 'PageIndex',
  components: {
    Sponsors,
    ActualAgendaPoint,
    FoodBridge,
    News
  },
  data () {
    const userData = this.$store.getters['auth/getUserData']
    return {
      userData
    }
  },
  methods: {
    async logout () {
      await this.$store.dispatch('auth/logout')
      this.$router.push({ name: 'login.welcome' })
    },
    async refresh (done) {
      setTimeout(() => {
        window.location.reload()
        done()
      }, 1000)
    }
  }
})
</script>
