<template>
  <div id="companies-map" class="border-blue-grey-2" style="height: 100vh;border-top: 1px solid"></div>
</template>

<script>
import * as L from 'leaflet'
import 'leaflet.markercluster'
import * as OsmLayers from '../assets/OsmLayers.json'
// import { getCssVar } from 'quasar'

export default {
  name: 'Map',
  data () {
    const defaultIcon = new L.Icon({
      iconUrl: require('../assets/markers/marker-icon.png'),
      iconAnchor: [12.5, 41]
    })
    return {
      markerCluster: {},
      position: ['50.071554', '19.941261'],
      map: {},
      companies: [],
      windowWidth: 0,
      selectedIcon: new L.Icon({
        iconUrl: require('../assets/markers/marker-icon__green.png'),
        iconAnchor: [12.5, 41]
      }),
      markers: [
        {
          name: 'Dworzec Kolejowy Kraków Główny PKP',
          coords: [50.068507733780415, 19.94797678661116],
          icon: defaultIcon,
          onClick: () => {
            console.log('click')
          }
        },
        {
          name: 'MDA Dworzec autobusowy',
          coords: [50.06783284901704, 19.94945736586411],
          icon: defaultIcon,
          onClick: () => {
            console.log('click')
          }
        },
        {
          name: 'Lotnisko Baliced',
          coords: [50.07725277284572, 19.7882420781639],
          icon: defaultIcon,
          onClick: () => {
            console.log('click')
          }
        },
        {
          name: 'Sukiennice',
          coords: [50.0616763815429, 19.937332859789294],
          icon: defaultIcon,
          onClick: () => {
            console.log('click')
          }
        },
        {
          name: 'Kościół Mariacki',
          coords: [50.0616763815429, 19.939457169152224],
          icon: defaultIcon,
          onClick: () => {
            console.log('click')
          }
        },
        {
          name: 'Zamek Królewski na Wawelu',
          coords: [50.05425803710909, 19.935416531630636],
          icon: defaultIcon,
          onClick: () => {
            console.log('click')
          }
        },
        {
          name: 'Forty Kleparz',
          coords: [50.07489633183522, 19.937837460704564],
          icon: defaultIcon,
          onClick: () => {
            console.log('click')
          }
        },
        {
          name: 'Hotel Mercure',
          coords: [50.066848351976134, 19.944841246043534],
          icon: defaultIcon,
          onClick: () => {
            console.log('click')
          }
        }
      ],
      polygons: [
        {
          name: 'Działownia',
          coords: [
            [50.07219, 19.94006],
            [50.07215, 19.94028],
            [50.07160, 19.94002],
            [50.07164, 19.9398]
          ],
          color: '#1B1C3B',
          onClick: () => {
            console.log('click')
          }
        },
        {
          name: 'Działownia',
          coords: [
            [50.07208, 19.94059],
            [50.07206, 19.94067],
            [50.07209, 19.94069],
            [50.07193, 19.94141],
            [50.0719, 19.9414],
            [50.07187, 19.94156],
            [50.07171, 19.94148],
            [50.07193, 19.94051]
          ],
          color: '#1B1C3B',
          onClick: () => {
            console.log('click')
          }
        },
        {
          name: 'Expo',
          coords: [
            [50.07214, 19.94031],
            [50.07211, 19.94044],
            [50.07191, 19.94034],
            [50.07193, 19.9402]
          ],
          color: '#1B1C3B',
          onClick: () => {
            console.log('click')
          }
        },
        {
          name: 'Buldożery',
          coords: [
            [50.07229, 19.94109],
            [50.07215, 19.94172],
            [50.072, 19.94164],
            [50.07214, 19.94101]
          ],
          color: '#1B1C3B',
          onClick: () => {
            console.log('click')
          }
        }
      ]
    }
  },
  mounted () {
    this.initMap()
    this.initMarkerCluster()
    this.handleResize()
  },
  methods: {
    initMap () {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(this.setDefaultPosition)
      }
      const defaultMapZoom = 15

      const maxBounds = L.latLngBounds(
        L.latLng(49.967426, 19.745822), // Southwest
        L.latLng(50.122702, 20.201250) // Northeast
      )

      const baseLayers = {}
      for (const tileServer in OsmLayers.default) {
        baseLayers[tileServer] = L.tileLayer(
          OsmLayers.default[tileServer].url,
          OsmLayers.default[tileServer]
        )
      }
      this.map = L.map('companies-map', {
        zoomControl: false,
        minZoom: 8,
        layers: [baseLayers['Satelita 2']],
        maxBounds: maxBounds
      }).setView(this.position, defaultMapZoom)
    },
    setDefaultPosition (position) {
      this.map.setView([position.coords.latitude, position.coords.longitude], 14)
    },
    initMarkerCluster () {
      // ------------------
      this.markers.forEach((markerData) => {
        const marker = L.marker(markerData.coords, {
          icon: markerData.icon
        })
        marker.on('click', markerData.onClick)
        this.map.addLayer(marker)
      })

      this.polygons.forEach(polygonData => {
        const polygon = L.polygon(polygonData.coords, { color: polygonData.color })
        polygon.on('click', polygonData.onClick)
        this.map.addLayer(polygon)
      })
    },
    handleResize () {
      this.windowWidth = window.innerWidth
    }
  }
}
</script>

<style scoped>
#companies-map {
  padding: 0;
  width: 100%;
  height: 500px;
  display: block;
}
</style>
