<template>
  <div class="q-pa-sm" style="border-bottom: 1px solid">
    <span>Partnerzy w linii</span>
  </div>
</template>

<script>
// import { api } from 'boot/axios'

export default {
  name: 'Sponsors',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
