<template>
  <div>
    <div class="q-pa-md">
      <div class="q-mb-md q-gutter-md" style="font-size: 2em">
        <q-icon name="west" @click="$router.push({ name: 'main.userData' })" color="dark" />
      </div>
      <h5 class="q-mt-lg q-mb-md">Uzupełnij swoje dane</h5>
      <p>Aby wziąć udział w wydarzeniu uzupełnij swoje dane osobowe</p>
      <p class="q-mb-sm"><b>Dane podstawowe</b></p>
      <q-form @submit="validateForm">
        <q-input
          class="q-mb-md"
          :hide-bottom-space="true"
          :label="`${$t('fill_data.name')}*`"
          type="text"
          name="first_name"
          v-model="userName"
          :outlined="true"
          :rules="[val => val.length >= 3 || 'Wrong name']"
        />
        <q-input
          class="q-mb-md"
          :hide-bottom-space="true"
          :label="`${$t('fill_data.surname')}*`"
          type="text"
          name="surname"
          v-model="userSurname"
          :outlined="true"
          :rules="[val => val.length >= 3 || 'Wrong surname']"
        />
        <q-input
          class="q-mb-md"
          :hide-bottom-space="true"
          :label="`${$t('fill_data.company')}*`"
          type="text"
          name="company"
          v-model="userCompany"
          :outlined="true"
          :rules="[val => val.length > 3 || 'Wrong company name']"
          placeholder="Politechnika Krakowska"
        />
        <q-select
          class="q-mb-lg"
          :hide-bottom-space="true"
          :label="`${$t('fill_data.country')}*`"
          :rules="[val => val.value !== null || 'Please choose country']"
          :options="countrySelectOptions"
          v-model="userCountry"
          :outlined="true"
        />
        <p class="q-mb-sm"><b>Rodzaj uczestnictwa</b></p>
        <q-list class="q-mb-lg">
          <q-item style="padding-left: 0;padding-right: 0" tag="label" v-ripple>
            <q-item-section avatar>
              <q-radio v-model="userType" val="participant" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ $t('participation_types.participant') }}</q-item-label>
              <q-item-label caption>{{ $t('participation_types.participant_desc') }}</q-item-label>
            </q-item-section>
          </q-item>
          <hr>
          <q-item style="padding-left: 0;padding-right: 0;" tag="label" v-ripple>
            <q-item-section avatar>
              <q-radio v-model="userType" val="expert" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ $t('participation_types.expert') }}</q-item-label>
              <q-item-label caption>{{ $t('participation_types.expert_desc') }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>

        <div v-if="userType === 'expert'">
          <p class="q-mt-md q-mb-sm"><b>Dane eksperta</b></p>
          <q-input
            class="q-mb-md"
            :hide-bottom-space="true"
            :label="`${$t('fill_data.description_en')}*`"
            :rules="[val => val.length > 150 && val.length < 500 || 'Between 150 - 500 chars']"
            v-model="userDescription.en"
            rows="3"
            :counter="true"
            :autogrow="true"
            :outlined="true"
          />
          <q-input
            class="q-mb-md"
            :hide-bottom-space="true"
            :label="`${$t('fill_data.description_pl')}*`"
            :rules="[val => (val.length === 0 || (val.length > 150 && val.length < 500)) || 'Between 150 - 500 chars']"
            v-model="userDescription.pl"
            rows="3"
            :counter="true"
            :autogrow="true"
            :outlined="true"
          />
          <q-file
            class="q-mb-lg"
            :hide-bottom-space="true"
            :label="`${$t('fill_data.photo')} (${$t('login.optional')})`"
            accept="image/jpeg, image/gif, image/png, image/jpg"
            v-model="userPhoto"
            :outlined="true"
            @update:model-value="photoToBase"
          >
            <template v-slot:prepend>
              <q-icon name="bi-image" />
            </template>
          </q-file>
          <p class="q-mt-md q-mb-sm"><b>Social media (opcjonalnie)</b></p>
          <q-input
            class="q-mb-md"
            :hide-bottom-space="true"
            label="Facebook"
            placeholder="https://facebook.com/.."
            :rules="[val => (val.length === 0 || (val.match(/^https:\/\/facebook.com\/.+/) || val.match(/^https:\/\/www.facebook.com\/.+/))) || 'Not facebook']"
            v-model="userFacebook"
            :outlined="true"
          />
          <q-input
            class="q-mb-md"
            :hide-bottom-space="true"
            label="Twitter"
            placeholder="https://twitter.com/.."
            :rules="[val => (val.length === 0 || (val.match(/^https:\/\/twitter.com\/.+/) || val.match(/^https:\/\/www.twitter.com\/.+/))) || 'Not twitter']"
            v-model="userTwitter"
            :outlined="true"
          />
          <q-input
            class="q-mb-md"
            :hide-bottom-space="true"
            label="LinkedIn"
            placeholder="https://linkedin.com/in/.."
            :rules="[val => (val.length === 0 || (val.match(/^https:\/\/linkedin.com\/in\/.+/) || val.match(/^https:\/\/www.linkedin.com\/in\/.+/))) || 'Not LinkedIn']"
            v-model="userLinkedin"
            :outlined="true"
          />
        </div>
        <div class="q-pa-xl"></div>
        <q-page-sticky class="sticky-full-width q-pa-md backdrop-filter-blur border-blue-grey-2" style="border-top: 1px solid" position="bottom">
          <q-btn class="full-width" type="submit" color="primary" size="lg" style="text-transform: none;">
            Zapisz
          </q-btn>
        </q-page-sticky>
        <q-inner-loading :showing="showOverlay">
          <q-spinner-gears size="50px" color="primary" />
        </q-inner-loading>
      </q-form>
    </div>
  </div>
</template>

<script>
import jsonCountryCodes from 'assets/data/standard_country_codes.json'
import { useQuasar } from 'quasar'
import { api } from 'boot/axios'

let $q

export default {
  async mounted () {
    await this.$store.dispatch('auth/loadUserData', { locale: this.$i18n.locale })
  },
  data () {
    $q = useQuasar()
    const countrySelectOptions = [{ value: null, label: '...' }]
    for (const [key, value] of Object.entries(jsonCountryCodes)) {
      countrySelectOptions.push({ value: key, label: value })
    }
    const userData = this.$store.getters['auth/getUserData']
    return {
      userDataId: userData.user_data_id,
      showTick: true,
      showOverlay: false,
      userType: Object.keys(userData.translations).length > 0 && userData.translations.en && userData.translations.en.length > 0 ? 'expert' : 'participant',
      userName: userData.name,
      userSurname: userData.surname,
      userCompany: userData.company,
      userCountry: { value: userData.country, label: jsonCountryCodes[userData.country] },
      userDescription: {
        en: userData.translations.en ?? '',
        pl: userData.translations.pl ?? ''
      },
      userPhoto: null,
      userPhotoInBase: '',
      userFacebook: userData.social_facebook ?? '',
      userTwitter: userData.social_twitter ?? '',
      userLinkedin: userData.social_linkedin ?? '',

      countrySelectOptions
    }
  },
  methods: {
    photoToBase (value) {
      const reader = new FileReader()
      reader.readAsDataURL(value)
      reader.onload = () => {
        this.userPhotoInBase = reader.result
      }
      reader.onerror = function (error) {
        console.log('Error: ', error)
      }
    },
    logout () {
      this.$store.dispatch('auth/logout')
        .then(() => {
          this.$router.push({ name: 'login' })
        })
    },
    async validateForm () {
      this.showOverlay = true
      return new Promise((resolve, reject) => {
        if (this.userType === 'participant') {
          this.userDescription.pl = ''
          this.userDescription.en = ''
          this.userFacebook = ''
          this.userTwitter = ''
          this.userLinkedin = ''
          this.userPhotoInBase = null
        }
        const formData = {
          user_id: this.$store.getters['auth/getUserId'],
          type: this.userType,
          name: this.userName,
          surname: this.userSurname,
          company: this.userCompany,
          country: this.userCountry.value,
          pl: {
            description: this.userDescription.pl
          },
          en: {
            description: this.userDescription.en
          },
          photo: this.userPhotoInBase,
          social_facebook: this.userFacebook,
          social_twitter: this.userTwitter,
          social_linkedin: this.userLinkedin,
          language: this.$i18n.locale
        }
        api.post(
          `/api/system/user/data/${this.userDataId}`,
          formData,
          {
            headers: {
              Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
              'Accept-Language': this.$i18n.locale,
              LoginSessionId: 'asdasdasd',
              Accept: 'application/json'
            }
          }
        )
          .then(async res => {
            $q.notify({
              color: 'green-4',
              textColor: 'white',
              icon: 'tick',
              message: 'Poprawnie zapisano dane'
            })
            await this.$store.dispatch('auth/loadUserData', { locale: this.$i18n.locale })
              .then(() => {
                $q.notify({
                  color: 'green-4',
                  textColor: 'white',
                  icon: 'tick',
                  message: 'Poprawnie zaktualizowano dane'
                })
                this.$router.push({ name: 'main.userData' })
                this.showOverlay = false
                resolve()
              })
          })
          .catch(err => {
            console.log(err)
            $q.notify({
              color: 'error',
              textColor: 'white',
              icon: 'error',
              message: err.response.data.message ?? err.message
            })
            this.showOverlay = false
            reject()
          })
      })
    }
  }
}
</script>
