<template>
  <q-page>
    <div class="q-pa-md">
      <div style="font-size: 2em">
        <div class="row">
          <div class="col-2">
            <q-icon name="west" @click="$router.push({ name: 'home' })" color="dark" />
          </div>
          <div class="col-8" style="text-align: center">
            <span class="q-mt-lg q-pt-md text-h5">Ustawienia</span>
          </div>
          <div class="col-2" style="text-align: center">
            <Locale />
          </div>
        </div>
      </div>
      <div class="q-mt-xl" style="text-align: center">
        <q-img v-if="userData.photo" :src="`${photoUrl}/storage/${userData.photo}`" style="border-radius:90%;width:70vw" ratio="1"/>
        <q-icon v-else name="bi-camera" color="primary" size="6em" class="q-pa-xl" style="border-radius: 90%;background-color: #FBF8FF"/>
        <div class="q-mt-lg">
          <h5 class="q-mb-xs">{{userData.name}} {{userData.surname}}</h5>
          <p style="margin-bottom:0">{{ userData.company }}</p>
          <p style="margin-top:0">{{ Object.values(userData.roles).join(', ') }}</p>
        </div>
      </div>
      <div class="full-width border-blue-grey-2 q-pa-md q-mt-lg" style="border: 1px solid;" @click="() => { this.$router.push({ name: 'user.edit' }) }">
        <div class="row">
          <div class="col-1" style="text-align: center">
            <q-icon name="bi-person" size="sm"/>
          </div>
          <div class="col-10 q-pl-md" style="padding-top: 2px;">
            Edytuj dane
          </div>
          <div class="col-1">
            <q-icon name="bi-chevron-right" size="sm"/>
          </div>
        </div>
      </div>
      <div class="full-width border-blue-grey-2 q-pa-md q-mt-sm" style="border: 1px solid;" @click="() => { this.removeDialog = true }">
        <div class="row">
          <div class="col-1" style="text-align: center">
            <q-icon name="bi-x" size="sm"/>
          </div>
          <div class="col-10 q-pl-md" style="padding-top: 2px;">
            Usuń konto
          </div>
          <div class="col-1">
            <q-icon name="bi-chevron-right" size="sm"/>
          </div>
        </div>
      </div>
      <div class="full-width border-blue-grey-2 q-pa-md q-mt-sm" style="border: 1px solid;" @click="() => { this.logoutDialog = true }">
        <div class="row">
          <div class="col-1" style="text-align: center">
            <q-icon name="bi-box-arrow-right" size="sm"/>
          </div>
          <div class="col-10 q-pl-md" style="padding-top: 2px;">
            Wyloguj
          </div>
          <div class="col-1">
            <q-icon name="bi-chevron-right" size="sm"/>
          </div>
        </div>
      </div>
        <p style="padding: 1em; text-align: end;">
          StormCode for infraTEAM @ 2023<br>
          Version: {{ version }}
        </p>
    </div>
    <q-dialog v-model="logoutDialog" persistent>
      <q-card>
        <q-card-section class="row" style="text-align: center">
          <h5 style="text-align: center" class="q-my-xs full-width">Wyloguj się</h5>
          <p class="full-width q-mb-sm">Czy na pewno chcesz się wylogować?</p>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Anuluj" color="primary" v-close-popup />
          <q-btn flat label="Wyloguj się" color="primary" @click="doLogout" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="removeDialog" persistent>
      <q-card>
        <q-card-section class="row" style="text-align: center">
          <h5 style="text-align: center" class="q-my-xs full-width">Usuń konto</h5>
          <p class="full-width q-mb-sm">Czy na pewno chcesz usunąć konto? To działanie jest nieodwracalne</p>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Anuluj" color="primary" v-close-popup />
          <q-btn flat label="Usuń konto" color="primary" @click="doRemove" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import { version } from '../../../package.json'
import Locale from 'components/Locale.vue'
import { api } from 'boot/axios'
import { useQuasar } from 'quasar'

let $q

export default defineComponent({
  name: 'UserData',
  components: { Locale },
  data () {
    $q = useQuasar()
    const photoUrl = api.defaults.baseURL
    const userData = this.$store.getters['auth/getUserData']
    return {
      photoUrl,
      userData,
      version,
      logoutDialog: false,
      removeDialog: false
    }
  },
  methods: {
    async doLogout () {
      try {
        await this.$store.dispatch('auth/logout')
        this.$router.push({ name: 'login.welcome' })
        this.logoutDialog = false
      } catch (err) {
        console.log(err)
      }
    },
    async doRemove () {
      try {
        api.delete(
          '/api/system/user/me',
          {
            headers: {
              Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
              'Accept-Language': this.$i18n.locale,
              LoginSessionId: 'asdasdasd',
              Accept: 'application/json'
            }
          }
        )
          .then(() => {
            $q.notify({
              color: 'green-4',
              textColor: 'white',
              icon: 'tick',
              message: 'Poprawnie usunięto konto'
            })
          })
          .catch(() => {
            $q.notify({
              color: 'red',
              textColor: 'white',
              icon: 'error',
              message: 'Podczas usuwania konta coś poszło nie tak'
            })
          })
        // await this.$store.dispatch('auth/logout')
        // this.$router.push({ name: 'login.welcome' })
        this.removeDialog = false
      } catch (err) {
        console.log(err)
      }
    }
  }
})
</script>

<style scoped>
 .q-page-container {
   background: #F0F0F0;
 }
</style>
