<template>
  <div>
    <h6 class="q-mb-sm">FoodBridge - głosowanie</h6>
    <q-card class="my-card" flat bordered>
      <q-card-section horizontal>
        <q-card-section>
          <h6 style="margin: 0">Zagłosuj na most</h6>
          <p class="q-mt-sm">Sprawdź jak wytrzymałe są konstrukcje z makaronu spaghetti </p>
          <q-btn color="primary" class="full-width">Zobacz mosty</q-btn>
        </q-card-section>
        <q-img
          class="col-5"
          src="~/assets/food_bridge.png"
        />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'FoodBridge'
}
</script>

<style scoped>

</style>
