<template>
  <div style="width:100%; text-align:end; z-index: 6000">
    <q-btn round color="grey-3" style="box-shadow: none" @click="showLanguageSwitcher">
      <q-img class="border-blue-grey-2" :src="locale === 'pl' ? require('assets/flags/pl.svg') : require('assets/flags/gb.svg')"  style="max-width: 50%" />
    </q-btn>
  </div>
</template>

<script>
import { useI18n } from 'vue-i18n'

export default {
  setup () {
    const { locale } = useI18n({ useScope: 'global' })

    return {
      locale,
      localeOptions: {
        pl: 'polski',
        en: 'english'
      }
    }
  },
  methods: {
    showLanguageSwitcher () {
      this.$q.bottomSheet({
        message: 'Wybór języka aplikacji',
        actions: [
          {
            label: 'english',
            img: require('assets/flags/gb.svg'),
            id: 'en'
          },
          {
            label: 'polski',
            img: require('assets/flags/pl.svg'),
            id: 'pl'
          }
        ]
      }).onOk(action => {
        if (this.locale !== action.id) {
          this.locale = action.id
          window.localStorage.setItem('lang', JSON.stringify(this.locale))
          window.location.reload()
        }
      })
    }
  }
}
</script>
