<template>
  <div>
    <h6 class="q-mb-sm">Newsy</h6>
    <q-card class="my-card" flat bordered>
      <q-img
        src="https://cdn.quasar.dev/img/parallax2.jpg"
      />
      <q-card-section class="q-pb-xs">
        <div class="text-caption text-grey">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </q-card-section>
      <q-card-actions>
        <q-btn flat color="primary">Więcej na facebook.com <q-icon class="q-ml-sm" name="bi-arrow-up-right" size="xs" /></q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'FoodBridge'
}
</script>

<style scoped>

</style>
