<template>
  <q-pull-to-refresh @refresh="refresh">
    <div class="q-mb-lg" style="text-align: center">
      <qrcode-vue
        v-if="ticketEncryptedCode"
        class="q-pa-md full-width"
        style="background-color: #fff;aspect-ratio: 1 / 1;height: 100%;"
        :value="ticketEncryptedCode"
        @click="setFullBrightness"
      />
    </div>
    <h5 class="text-center q-mb-xs">Bilet {{ typeName }}</h5>
    <p class="text-center q-my-xs">Status: {{ status }}</p>
    <ul>
      <li v-for="(benefit, key) in benefits" :key="key">{{ benefit }}</li>
    </ul>
    <q-inner-loading :showing="showLoader">
      <q-spinner-gears size="50px" color="primary" />
    </q-inner-loading>
  </q-pull-to-refresh>
</template>

<script>
import { defineComponent } from 'vue'
import { api } from 'boot/axios'
import { useQuasar } from 'quasar'
import QrcodeVue from 'qrcode.vue'

let $q

export default defineComponent({
  name: 'ShowTicket',
  components: {
    QrcodeVue
  },
  data () {
    this.showLoader = true
    $q = useQuasar()
    let ticketData = {
      ticketEncryptedCode: 'loading',
      typeName: 'Wczytywanie',
      status: 'Wczytywanie',
      benefits: []
    }
    if (window.localStorage.getItem('ticketData') === null) {
      this.refresh()
    } else {
      ticketData = JSON.parse(window.localStorage.getItem('ticketData'))
      this.showLoader = false
    }
    return {
      ticketEncryptedCode: ticketData.ticketEncryptedCode,
      showLoader: this.showLoader,
      typeName: ticketData.typeName,
      status: ticketData.status,
      benefits: ticketData.benefits
    }
  },
  methods: {
    setFullBrightness () {
      cordova.plugins.brightness.setBrightness(1)
    },
    async refresh (done) {
      this.showLoader = true
      api.get('/api/system/user/me',
        {
          headers: {
            Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
            'Accept-Language': this.$i18n.locale,
            LoginSessionId: 'asdasdasd',
            Accept: 'application/json'
          }
        })
        .then(res => {
          const ticketData = res.data.data.ticketData
          this.ticketEncryptedCode = ticketData.ticket_qr_code
          this.typeName = ticketData.type.name
          this.status = ticketData.ticket.status
          this.benefits = ticketData.type.benefits
          window.localStorage.setItem('ticketData', JSON.stringify({
            ticketEncryptedCode: ticketData.ticket_qr_code,
            typeName: ticketData.type.name,
            status: ticketData.ticket.status,
            benefits: ticketData.type.benefits
          }))

          this.showLoader = false
          try {
            done()
          } catch (e) {
            //
          }
        })
        .catch(err => {
          $q.notify({
            color: 'green-4',
            textColor: 'white',
            icon: 'tick',
            message: 'Wystąpił problem podczas wczytywania danych biletu'
          })
          console.log(err)
          this.showLoader = false
          try {
            done()
          } catch (e) {
            //
          }
        })
    }
  }
})
</script>
