@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Raleway", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.body--dark {
  font-family: "Raleway", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@import "~leaflet";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import 'customColors.scss';

.q-btn:before {
  box-shadow: none;
}

.q-btn--rectangle {
  border-radius: 0;
}

.q-field--outlined .q-field__control {
  border-radius: 0;
}

.sticky-full-width > div {
  width: 100%;
}

.border-primary {
  border-color: $primary !important;
}

.border-blue-grey-2 {
  border-color: $blue-grey-2 !important;
}

.backdrop-filter-blur {
  backdrop-filter: blur(32px);
}

.q-tab-active-color {
  color: $primary;
}
