// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #6A5bA4;
$secondary : #64A2D8;
$accent    : #000000;

$dark      : #2B2B2B;

$positive  : #28c76f;
$negative  : #ea5455;
$info      : #00cfe8;
$warning   : #ff9f43;

// used by light mode
$light-page : #f8f8f8 !default;
$light : #ffffff !default;
$light-font : #343434 !default;

// used by dark mode
$dark-page : #2b2b2b !default;
$dark      : #333333 !default;
$dark-font : #D0D2D6 !default;

// used by light mode
$light-page : #f8f8f8;
$light : #ffffff;

// used by dark mode
$dark-page : #2b2b2b !default;
$dark      : #1d1d1d !default;

