<template>
  <div>
    <div v-if="status === 'awaiting'">
      <q-linear-progress indeterminate />
      <div v-if="gateway === 'bankTransfer'" class="q-pa-md">
        <h5>{{ $t('paid.titleAwaiting') }}</h5>
        <p>{{ $t('paid.descAwaitingBankTransfer') }}</p>
        <q-page-sticky class="sticky-full-width q-pa-md backdrop-filter-blur border-blue-grey-2" style="border-top: 1px solid" position="bottom">
          <q-btn :href="proformUrl" class="full-width" type="submit" color="primary" size="lg" style="text-transform: none;">
            {{ $t('paid.downloadProform') }}
          </q-btn>
        </q-page-sticky>
      </div>
      <div v-else class="q-pa-md">
        <h5>{{ $t('paid.titleAwaiting') }}</h5>
        <p>{{ $t('paid.descAwaiting') }}</p>
      </div>
    </div>
    <div v-else-if="status === 'completed'">
      <div class="window-height q-pa-md" style="padding-top: 33%">
        <img class="full-width" :src="require('src/assets/tick_page.png')"/>
        <h4 style="text-align: center" class="q-mt-md q-mb-lg">{{$t('paid.titleCompleted')}}</h4>
        <p style="text-align: center">{{$t('paid.descCompleted')}}</p>
      </div>
      <q-page-sticky class="sticky-full-width q-pa-md backdrop-filter-blur border-blue-grey-2" style="border-top: 1px solid" position="bottom">
        <q-btn :to="{ name: 'home' }" class="full-width" type="submit" color="primary" size="lg" style="text-transform: none;">
          {{ $t('paid.goToPanel') }}
        </q-btn>
      </q-page-sticky>
    </div>
    <div v-else>
      <div class="window-height q-pa-md" style="padding-top: 33%">
        <img class="full-width" :src="require('src/assets/error_page.png')"/>
        <h4 style="text-align: center" class="q-mt-md q-mb-lg">{{$t('paid.titleCanceled')}}</h4>
        <p style="text-align: center">{{$t('paid.descCanceled')}}</p>
        <q-page-sticky class="sticky-full-width q-pa-md backdrop-filter-blur border-blue-grey-2" style="border-top: 1px solid" position="bottom">
          <q-btn class="full-width" type="submit" color="primary" size="lg" style="text-transform: none;" @click="payWithPayU">
            {{ $t('paid.reDoPayment') }}
          </q-btn>
        </q-page-sticky>
        <q-inner-loading :showing="showOverlay">
          <q-spinner-gears size="50px" color="primary" />
        </q-inner-loading>
      </div>
    </div>

  </div>
</template>

<script>
import { api } from 'boot/axios'
import { useQuasar } from 'quasar'

let $q

export default {
  data () {
    $q = useQuasar()
    this.showOverlay = true
    this.checkPaymentStatus()
    return {
      showOverlay: true,
      status: 'awaiting',
      gateway: 'payU',
      proformUrl: null,
      payuData: {}
    }
  },
  methods: {
    async payWithPayU () {
      this.showOverlay = true
      api.get(
        '/api/ticket/payment/regenerate_payu/1',
        {
          headers: {
            Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
            'Accept-Language': this.$i18n.locale,
            LoginSessionId: 'asdasdasd',
            Accept: 'application/json'
          }
        }
      )
        .then(res => {
          if (res.data.success) {
            window.localStorage.setItem('paymentOnGoing', JSON.stringify(true))
            this.payuData = res.data.data
            const refInAppBrowserPayU = cordova.InAppBrowser.open(res.data.data.redirectUrl, '_self', 'location=no')
            refInAppBrowserPayU.addEventListener('exit', this.payuClosed)
            refInAppBrowserPayU.addEventListener('message', function (message) {
              if (JSON.stringify(message.data.msg) === 'true') {
                refInAppBrowserPayU.close()
              }
            })
            refInAppBrowserPayU.addEventListener('loadstop', function () {
              if (refInAppBrowserPayU !== undefined) {
                refInAppBrowserPayU.insertCSS({ code: 'body{font-size: 25px;' })
                refInAppBrowserPayU.executeScript({
                  // eslint-disable-next-line no-multi-str
                  code: '\
            var message = closeIsThisEnd;\
            var messageObj = {msg: message};\
            var stringifiedMessageObj = JSON.stringify(messageObj);\
webkit.messageHandlers.cordova_iab.postMessage(stringifiedMessageObj);'
                })
              }
            })
          } else {
            $q.notify({
              color: 'red',
              textColor: 'white',
              icon: 'error',
              message: res.data.message
            })
          }
          this.showOverlay = false
        })
        .catch(err => {
          $q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'error',
            message: err.response.data.message
          })
          this.showOverlay = false
        })
    },
    payuClosed () {
      this.showOverlay = true
      this.$router.push({ name: 'ticket.payment.paid', params: { payment_id: this.payuData.payment_id, invoice_id: this.payuData.invoice_id } })
        .then(() => {
          window.location.reload()
        })
    },
    checkPaymentStatus () {
      api.get(
        `/api/ticket/invoice/${this.$route.params.invoice_id}/payment/${this.$route.params.payment_id}/status`,
        {
          headers: {
            Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
            'Accept-Language': this.$i18n.locale,
            LoginSessionId: 'asdasdasd',
            Accept: 'application/json'
          }
        }
      )
        .then(async res => {
          if (res.data.success) {
            this.status = res.data.data.status
            this.gateway = res.data.data.gateway
            this.proformUrl = res.data.data.proformUrl
            console.log(this.proformUrl)
            if (res.data.data.status === 'awaiting') {
              setTimeout(this.checkPaymentStatus, 5000)
            } else {
              window.localStorage.setItem('paymentOnGoing', JSON.stringify(false))
              await this.$store.dispatch('standardAuth/loadUserData')
              this.showOverlay = false
            }
          }
        })
        .catch(err => {
          console.log(err)
        })
    }
  }
}
</script>

<style scoped>

</style>
