<template>
  <div class="q-pa-md">
    <div v-if="$route.params.ticket_type === '1' && !codeCorrect">
      <div v-if="!codeSent">
        <div class="q-gutter-md" style="font-size: 2em">
          <q-icon name="west" @click="$router.push({ name: 'ticket.pricing' })" color="dark" />
        </div>
        <h5>Podaj studencki adres email</h5>
        <q-input
          v-model="studentEmail"
          :outlined="true"
          :label="`${$t('fill_data.studentEmail')}*`"
          :rules="[ val => val.match(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/) || 'Please enter a valid email address' ]"
        />
        <q-page-sticky class="sticky-full-width q-pa-md backdrop-filter-blur" position="bottom">
          <q-btn class="full-width" type="submit" color="primary" size="lg" style="text-transform: none;" @click="sendVerificationCode">
            {{ $t('buyer_data.sendStudentCode') }}
          </q-btn>
        </q-page-sticky>
      </div>
      <div v-else>
        <div class="q-gutter-md" style="font-size: 2em">
          <q-icon name="west" @click="() => { codeSent = false }" color="dark" />
        </div>
        <h5>Podaj kod weryfikacyjny</h5>
        <q-input
          v-model="studentCode"
          :label="`${$t('fill_data.studentCode')}*`"
          :rules="[val => val.length === 6 || 'Wrong code']"
          mask="######"
          placeholder="000000"
          :outlined="true"
        />
        <q-page-sticky class="sticky-full-width q-pa-md backdrop-filter-blur" position="bottom">
          <q-btn class="full-width" type="submit" color="primary" size="lg" style="text-transform: none;" @click="verifyCode">
            {{ $t('buyer_data.verifyStudentCode') }}
          </q-btn>
        </q-page-sticky>
      </div>
    </div>
    <q-form @submit="validateForm">
      <div v-if="$route.params.ticket_type === '1' && codeCorrect || $route.params.ticket_type !== '1'">
        <div class="q-gutter-md" style="font-size: 2em">
          <q-icon name="west" @click="$router.push({ name: 'ticket.pricing' })" color="dark" />
        </div>
        <h5 class="q-mb-md">Uzupełnij dane do faktury</h5>
        <q-list class="q-mb-md">
          <q-item tag="label" v-ripple style="border-bottom: 1px solid #000">
            <q-item-section avatar top>
              <q-radio v-model="entityType" val="person" />
            </q-item-section>
            <q-item-section>
              <q-item-label class="q-pt-sm">{{ $t('buyer_data.person') }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item tag="label" v-ripple style="border-bottom: 1px solid #000">
            <q-item-section avatar top>
              <q-radio v-model="entityType" val="company_eu" />
            </q-item-section>
            <q-item-section>
              <q-item-label class="q-pt-sm">{{ $t('buyer_data.company_eu') }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item tag="label" v-ripple style="border-bottom: 1px solid #000">
            <q-item-section avatar top>
              <q-radio v-model="entityType" val="company_other" />
            </q-item-section>
            <q-item-section>
              <q-item-label class="q-pt-sm">{{ $t('buyer_data.company_other') }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
        <q-input
          v-if="entityType === 'person'"
          v-model="userName"
          :label="`${$t('fill_data.name')}*`"
          :rules="[val => val.length >= 3 || 'Wrong name']"
          placeholder="Jan"
          :outlined="true"
        />
        <q-input
          v-if="entityType === 'person'"
          v-model="userSurname"
          :label="`${$t('fill_data.surname')}*`"
          :rules="[val => val.length >= 3 || 'Wrong surname']"
          placeholder="Kowalski"
          :outlined="true"
        />
        <q-input
          v-if="entityType === 'company_other'"
          v-model="companyName"
          :label="`${$t('buyer_data.companyName')}*`"
          :rules="[val => val.length >= 3 || 'Wrong company name']"
          :outlined="true"
        />
        <q-input
          v-if="entityType === 'person' || entityType === 'company_other'"
          v-model="postal_code"
          :label="`${$t('buyer_data.postalCode')}*`"
          :rules="[val => val.length >= 3 || 'Wrong postal code']"
          :outlined="true"
        />
        <q-input
          v-if="entityType === 'person' || entityType === 'company_other'"
          v-model="city"
          :label="`${$t('buyer_data.city')}*`"
          :rules="[val => val.length >= 3 || 'Wrong city name']"
          :outlined="true"
        />
        <q-input
          v-if="entityType === 'person' || entityType === 'company_other'"
          v-model="address"
          :label="`${$t('buyer_data.address')}*`"
          :rules="[val => val.length >= 3 || 'Wrong address']"
          :outlined="true"
        />
        <q-select
          v-if="entityType === 'company_eu' || entityType === 'person' || entityType === 'company_other'"
          v-model="userCountry"
          :label="`${$t('buyer_data.country')}*`"
          :rules="[val => val.value !== null || 'Wrong country']"
          :outlined="true"
          :options="entityType === 'person' ? countrySelectOptionsAll : (entityType === 'company_eu' ? countrySelectOptionsEu : countrySelectOptionsOther)"
        />
        <q-input
          v-if="entityType === 'company_eu' || entityType === 'company_other'"
          class="q-mb-xl"
          v-model="vatin"
          :label="`${$t('buyer_data.vatin')}*`"
          :hint="entityType === 'company_eu' ? $t('buyer_data.dontIncludeCountryCode') : ''"
          :rules="[val => val.length >= 5 || 'Wrong vatin']"
          :outlined="true"
        />
        <div class="q-pa-xl"></div>
        <q-page-sticky v-if="entityType !== ''" class="sticky-full-width q-pa-md backdrop-filter-blur border-blue-grey-2" style="border-top: 1px solid" position="bottom">
          <q-btn class="full-width" type="submit" color="primary" size="lg" style="text-transform: none;">
            {{ $t('buyer_data.button') }}
          </q-btn>
        </q-page-sticky>
      </div>
    </q-form>
    <q-dialog v-model="confirmEuCompanyData" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <h4>{{ $t('buyer_data.verifyYourCompanyData') }}</h4>
          <p>
            <b>{{ $t('buyer_data.companyName') }}:</b> {{ dataFromVies.name }}<br>
            <b>{{ $t('buyer_data.companyVATIN') }}:</b> {{ dataFromVies.vatin }}<br>
            <b>{{ $t('buyer_data.companyAddress') }}:</b> {{ dataFromVies.address }}<br><br>
            <span v-html="$t('buyer_data.ifSomethingWrong')" />
          </p>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat :label="$t('buyer_data.wrongCompany')" color="primary" v-close-popup />
          <q-btn flat :label="$t('buyer_data.correctData')" color="primary" @click="finishEuCompany" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-inner-loading :showing="showOverlay">
      <q-spinner-gears size="50px" color="primary" />
    </q-inner-loading>
  </div>
</template>

<script>
import jsonCountryCodes from 'assets/data/standard_country_codes.json'
import jsonCountryCodesEu from 'assets/data/eu_country_codes.json'
import jsonCountryCodesOther from 'assets/data/other_country_codes.json'
import { api } from 'boot/axios'
import { useQuasar } from 'quasar'

let $q

export default {
  data () {
    this.showOverlay = true
    $q = useQuasar()
    if (this.$store.getters['auth/getUserData'].user_data_id) {
      if (this.$store.getters['auth/getTicketId'] !== 0) {
        this.$router.push({ name: 'home' })
      }
    }
    api.get(
      '/api/ticket/invoice/my',
      {
        headers: {
          Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
          'Accept-Language': this.$i18n.locale,
          LoginSessionId: 'asdasdasd',
          Accept: 'application/json'
        }
      }
    )
      .then(res => {
        if (res.data.success) {
          if (res.data.data.length > 0) {
            let redirected = false
            res.data.data.forEach(invoice => {
              if (invoice.status === 'paid') {
                this.$router.push({ name: 'home' })
                redirected = true
              }
            })
            if (!redirected) {
              this.$router.push({ name: 'ticket.sum_up' })
            }
          }
        }
        this.showOverlay = false
      })
    let studentOverlay = false
    if (this.$route.params.ticket_type === '1') {
      studentOverlay = true
      this.studentOverlay = true
      api.get(
        '/api/ticket/student/is',
        {
          headers: {
            Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
            'Accept-Language': this.$i18n.locale,
            LoginSessionId: 'asdasdasd',
            Accept: 'application/json'
          }
        }
      )
        .then(res => {
          if (res.data.success) {
            this.codeCorrect = true
          }
          this.showOverlay = false
        })
        .catch(() => {
          this.showOverlay = false
        })
    }
    const countrySelectOptionsAll = [{ value: null, label: '...' }]
    for (const [key, value] of Object.entries(jsonCountryCodes)) {
      countrySelectOptionsAll.push({ value: key, label: value })
    }
    const countrySelectOptionsEu = [{ value: null, label: '...' }]
    for (const [key, value] of Object.entries(jsonCountryCodesEu)) {
      countrySelectOptionsEu.push({ value: key, label: value })
    }
    const countrySelectOptionsOther = [{ value: null, label: '...' }]
    for (const [key, value] of Object.entries(jsonCountryCodesOther)) {
      countrySelectOptionsOther.push({ value: key, label: value })
    }
    return {
      confirmEuCompanyData: false,
      showOverlay: true,
      dataFromVies: {},
      userName: '',
      userSurname: '',
      userCountry: null,
      address: '',
      entityType: '',
      vatin: '',
      city: '',
      postal_code: '',
      companyName: '',
      studentEmail: '',
      codeSent: false,
      studentCode: '',
      codeCorrect: false,
      studentOverlay,

      countrySelectOptionsAll,
      countrySelectOptionsOther,
      countrySelectOptionsEu
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
        .then(() => {
          this.$router.push({ name: 'login' })
        })
    },
    studentEmailChanged () {
      this.codeSent = false
    },
    sendVerificationCode () {
      if (!this.codeSent) {
        this.showOverlay = true
        api.post(
          '/api/ticket/student/send_code',
          { email: this.studentEmail },
          {
            headers: {
              Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
              'Accept-Language': this.$i18n.locale,
              LoginSessionId: 'asdasdasd',
              Accept: 'application/json'
            }
          }
        )
          .then(res => {
            if (res.data.success) {
              if (res.data.data.isVerified) {
                this.codeCorrect = true
                $q.notify({
                  color: 'green-4',
                  textColor: 'white',
                  icon: 'tick',
                  message: res.data.message
                })
              } else {
                this.codeSent = true
                $q.notify({
                  color: 'green-4',
                  textColor: 'white',
                  icon: 'tick',
                  message: this.$t('buyer_data.code_sent')
                })
              }
            } else {
              $q.notify({
                color: 'red',
                textColor: 'white',
                icon: 'error',
                message: this.$t('buyer_data.wrong_student_email')
              })
            }
            this.showOverlay = false
          })
          .catch(() => {
            $q.notify({
              color: 'red',
              textColor: 'white',
              icon: 'error',
              message: this.$t('buyer_data.wrong_student_email')
            })
            this.showOverlay = false
          })
      }
    },
    verifyCode () {
      if (this.codeSent && this.studentCode.length === 6) {
        this.studentOverlay = true
        api.get(
          `/api/ticket/student/verify_code/${this.studentEmail}/${this.studentCode}`,
          {
            headers: {
              Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
              'Accept-Language': this.$i18n.locale,
              LoginSessionId: 'asdasdasd',
              Accept: 'application/json'
            }
          }
        )
          .then(res => {
            this.codeCorrect = res.data.success
            if (this.codeCorrect) {
              $q.notify({
                color: 'green-4',
                textColor: 'white',
                icon: 'tick',
                message: this.$t('buyer_data.code_verified')
              })
            } else {
              $q.notify({
                color: 'red',
                textColor: 'white',
                icon: 'error',
                message: this.$t('buyer_data.wrong_code')
              })
            }
            this.studentOverlay = false
          })
          .catch(() => {
            $q.notify({
              color: 'red',
              textColor: 'white',
              icon: 'error',
              message: this.$t('buyer_data.wrong_code')
            })
            this.studentOverlay = false
          })
      }
    },
    async validateForm () {
      this.showOverlay = true
      return new Promise((resolve, reject) => {
        if ((this.$route.params.ticket_type === '1' && this.codeCorrect) || this.$route.params.ticket_type !== '1') {
          if (this.entityType === 'company_eu') {
            api.get(
              `/api/ticket/invoice/payer/get_vatin?country=${this.userCountry.value}&vatin=${this.vatin}`,
              {
                headers: {
                  Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
                  'Accept-Language': this.$i18n.locale,
                  LoginSessionId: 'asdasdasd',
                  Accept: 'application/json'
                }
              }
            )
              .then(res => {
                if (res.data.success) {
                  this.dataFromVies = res.data.data
                  this.confirmEuCompanyData = true
                  this.showOverlay = false
                  resolve()
                } else {
                  $q.notify({
                    color: 'red',
                    textColor: 'white',
                    icon: 'error',
                    message: this.$t('buyer_data.vatinError')
                  })
                  this.showOverlay = false
                  reject()
                }
              })
          } else if (this.entityType === 'company_other') {
            window.localStorage.setItem('ticketTypeToBuy', JSON.stringify(this.$route.params.ticket_type))
            window.localStorage.setItem('buyerData', JSON.stringify({
              name: this.companyName,
              country: this.userCountry.value,
              address: `${this.address}, ${this.postal_code} ${this.city}`
            }))
            this.$router.push({ name: 'ticket.sum_up' })
          } else if (this.entityType === 'person') {
            window.localStorage.setItem('ticketTypeToBuy', JSON.stringify(this.$route.params.ticket_type))
            window.localStorage.setItem('buyerData', JSON.stringify({
              name: `${this.userName} ${this.userSurname}`,
              country: this.userCountry.value,
              address: `${this.address}, ${this.postal_code} ${this.city}`
            }))
            this.$router.push({ name: 'ticket.sum_up' })
            this.showOverlay = false
          } else {
            this.showOverlay = false
            reject()
          }
        }
      })
    },
    finishEuCompany () {
      this.showOverlay = true
      window.localStorage.setItem('ticketTypeToBuy', JSON.stringify(this.$route.params.ticket_type))
      window.localStorage.setItem('buyerData', JSON.stringify(this.dataFromVies))
      this.$router.push({ name: 'ticket.sum_up' })
      this.showOverlay = false
    }
  }
}
</script>

<style scoped>

</style>
