<template>
  <div>
    <div class="q-pa-md">
      <div class="q-gutter-md" style="font-size: 2em">
        <q-icon name="west" @click="$router.push({ name: 'ticket.method' })" color="dark" />
      </div>
      <h4 class="q-mb-md">Wybierz bilet</h4>
      <q-toggle
        :left-label="$t('pricing.netto')"
        :label="$t('pricing.brutto')"
        true-value="brutto"
        false-value="netto"
        v-model="status"
        @update:model-value="togglePrices"
      />
    </div>

    <q-list class="q-mb-xl">
      <q-item v-for="(type, index) in types" :key="index" tag="label" v-ripple class="border-blue-grey-2" style="border-bottom: 1px solid">
        <q-item-section avatar top>
          <q-radio v-model="regType" :val="type.id" />
        </q-item-section>
        <q-item-section>
          <q-item-label class="q-pt-sm">{{ type.name }}</q-item-label>
          <q-item-label caption>
            <ul class="q-pl-md" style="margin-top: 0">
              <li v-for="(benefit, benefitIndex) in type.benefits" :key="benefitIndex">
                {{ benefit }}
              </li>
            </ul>
          </q-item-label>
        </q-item-section>
        <q-item-section side top>
          <q-item-label class="q-pt-sm" caption>
            <b>
              {{
                (brutto ? type.price * 1.23 / 100 : type.price / 100).toLocaleString('pl-PL', {
                  style: 'currency', currency:
                    'PLN'
                })
              }}
            </b>
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
    <div class="q-pa-md"></div>
    <q-page-sticky class="sticky-full-width q-pa-md backdrop-filter-blur border-blue-grey-2" style="border-top: 1px solid" position="bottom">
      <q-btn :disable="regType === null" class="full-width" type="submit" color="primary" size="lg" style="text-transform: none;" :to="{name: 'ticket.buyer_data', params: {ticket_type: regType}}">
        Potwierdź
      </q-btn>
    </q-page-sticky>
    <q-inner-loading :showing="showOverlay">
      <q-spinner-gears size="50px" color="primary" />
    </q-inner-loading>
  </div>
</template>

<script>
import { api } from 'boot/axios'

export default {
  data () {
    this.showOverlay = true
    if (this.$store.getters['auth/getUserData'].user_data_id) {
      if (this.$store.getters['auth/getTicketId'] !== 0) {
        this.$router.push({ name: 'home' })
      }
    }
    api.get(
      '/api/ticket/invoice/my',
      {
        headers: {
          Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
          'Accept-Language': this.$i18n.locale,
          LoginSessionId: 'asdasdasd',
          Accept: 'application/json'
        }
      }
    )
      .then(res => {
        if (res.data.success) {
          if (res.data.data.length > 0) {
            let redirected = false
            res.data.data.forEach(invoice => {
              if (invoice.status === 'paid') {
                this.$router.push({ name: 'home' })
                redirected = true
              }
            })
            if (!redirected) {
              this.$router.push({ name: 'ticket.sum_up' })
            }
          }
        }
      })
    return {
      regType: null,
      showOverlay: true,
      status: 'netto',
      brutto: false,
      types: {}
    }
  },
  created () {
    this.showOverlay = true
    api.get(
      '/api/ticket/type',
      {
        headers: {
          Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
          'Accept-Language': this.$i18n.locale,
          LoginSessionId: 'asdasdasd',
          Accept: 'application/json'
        }
      }
    )
      .then(res => {
        this.types = res.data.data
        this.showOverlay = false
      })
      .then(err => {
        console.log(err)
        this.showOverlay = false
      })
  },
  methods: {
    togglePrices () {
      this.brutto = this.status === 'brutto'
    }
  }
}
/* eslint-disable global-require */
</script>

<style scoped>

</style>
