<template>
  <div class="q-pa-md">
    <div class="q-mb-md q-gutter-md" style="font-size: 2em">
      <q-icon name="bi-box-arrow-left" @click="logout" color="dark"/>
    </div>
    <h4 class="q-mb-md">{{ $t('ticket_method.title') }}</h4>
    <p>Aby wziąć udział w wydarzeniu potrzebujesz biletu. Wybierz jak chcesz go uzyskać.</p>
    <div class="border-primary q-pa-md" style="border: 1px solid" @click="buy">
      <h6 style="margin: 0">{{ $t('ticket_method.buy') }}</h6>
      <p class="q-mb-sm">Nie posiadam jeszcze biletu</p>
    </div>
    <div class="q-mt-md border-primary q-pa-md" style="border: 1px solid" @click="partner">
      <h6 style="margin: 0">{{ $t('ticket_method.partner') }}</h6>
      <p class="q-mb-sm">Partnerzy lub patroni</p>
    </div>
    <div class="q-mt-md border-primary q-pa-md" style="border: 1px solid" @click="group">
      <h6 style="margin: 0">{{ $t('ticket_method.group_code') }}</h6>
      <p class="q-mb-sm">Jestem częścią zorganizowanej grupy</p>
    </div>
    <q-inner-loading :showing="showOverlay">
      <q-spinner-gears size="50px" color="primary" />
    </q-inner-loading>
  </div>
</template>

<script>
import { api } from 'boot/axios'
import { useQuasar } from 'quasar'

let $q

export default {
  name: 'MethodChoice',
  data () {
    $q = useQuasar()
    this.showOverlay = true
    if (this.$store.getters['auth/getUserData'].user_data_id) {
      if (this.$store.getters['auth/getTicketId'] !== 0) {
        this.$router.push({ name: 'home' })
      }
    }
    api.get(
      '/api/ticket/invoice/my',
      {
        headers: {
          Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
          'Accept-Language': this.$i18n.locale,
          LoginSessionId: 'asdasdasd',
          Accept: 'application/json'
        }
      }
    )
      .then(res => {
        if (res.data.success) {
          if (res.data.data.length > 0) {
            let redirected = false
            res.data.data.forEach(invoice => {
              if (invoice.status === 'paid') {
                this.$router.push({ name: 'home' })
                redirected = true
              }
            })
            if (!redirected) {
              this.$router.push({ name: 'ticket.sum_up' })
            }
          }
        }
        this.showOverlay = false
      })
    return {
      showOverlay: true,
      codeReturnData: {
        success: false
      }
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
        .then(() => {
          this.$router.push({ name: 'login' })
        })
    },
    buy () {
      this.$router.push({ name: 'ticket.pricing' })
    },
    partner () {
      this.showOverlay = true
      api.get(
        '/api/ticket/partner_check',
        {
          headers: {
            Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
            'Accept-Language': this.$i18n.locale,
            LoginSessionId: 'asdasdasd',
            Accept: 'application/json'
          }
        }
      )
        .then(async res => {
          if (res.data.success) {
            $q.notify({
              color: 'green-4',
              textColor: 'white',
              icon: 'tick',
              message: res.data.message
            })
            await this.$store.dispatch('auth/loadUserData', { locale: this.$i18n.locale })
            this.$router.push({ name: 'home' })
            this.showOverlay = false
          } else {
            $q.notify({
              color: 'red',
              textColor: 'white',
              icon: 'error',
              message: res.data.message
            })

            this.showOverlay = false
          }
        })
        .catch(err => {
          this.showOverlay = false
          console.log(err)
        })
    },
    group () {
      this.$router.push({ name: 'ticket.voucher' })
    }
  }
}
</script>

<style scoped>

</style>
