<template>
  <q-page class="q-pa-md">
    <h5>Mój kod QR</h5>
    <q-tabs
      v-if="canScanTicket"
      v-model="tab"
      no-caps
      class="q-mb-md border-blue-grey-2"
      style="border-bottom: 1px solid"
    >
      <q-tab name="myTicket" label="Mój bilet" />
      <q-tab name="scanner" label="Skaner" />
    </q-tabs>
    <ShowTicket v-if="tab === 'myTicket'" />
    <ShowTicket v-else-if="tab === 'scanner'" />
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import ShowTicket from 'components/ShowTicket.vue'

export default defineComponent({
  name: 'QR',
  components: { ShowTicket },
  data () {
    return {
      tab: 'myTicket',
      canScanTicket: true
    }
  }
})
</script>
