<template>
  <div class="q-pa-md">
    <div class="q-gutter-md" style="font-size: 2em">
      <q-icon :disabled="!canCorrect" name="west" @click="$router.push({ name: 'ticket.pricing' })" color="dark" />
    </div>
    <h4 class="q-mb-md q-mt-md">Podsumowanie</h4>
    <p class="q-mb-lg">Sprawdź, czy wszystko się zgada</p>
    <p class="q-mt-sm q-mb-sm">
      <b>Dane do faktury</b>
    </p>
    <p>
      {{ buyerData.name }}<br>
      <span v-if="buyerData.vatin && buyerData.vatin.length > 0">{{ buyerData.vatin }}</span><br>
      {{ buyerData.address }}, {{ countryCodes[buyerData.country.toLowerCase()] }}
    </p>
    <p class="border-blue-grey-2 q-pt-sm q-mb-lg q-mt-xl" style="border-top: 1px solid">Informacje o biletach</p>
    <div class="row border-blue-grey-2 q-pb-sm" style="border-bottom: 1px solid">
      <div class="col-3">
        <b>{{ $t('sum_up.name') }}</b>
      </div>
      <div class="col-3">
        <b>{{ $t('sum_up.netto') }}</b>
      </div>
      <div class="col-3">
        <b>VAT</b>
      </div>
      <div class="col-3">
        <b>{{ $t('sum_up.brutto') }}</b>
      </div>
    </div>
    <div class="row q-pt-sm q-mb-md">
      <div class="col-3">
        {{ items.name }}
      </div>
      <div class="col-3">
        {{ items.netto }}
      </div>
      <div class="col-3">
        {{ items.vat }}
      </div>
      <div class="col-3">
        {{ items.brutto }}
      </div>
    </div>
    <q-page-sticky class="sticky-full-width q-pa-md backdrop-filter-blur border-blue-grey-2" style="border-top: 1px solid" position="bottom">
      <q-btn class="full-width q-mb-md" type="submit" color="primary" size="lg" style="text-transform: none;" @click="payWithPayU">
        {{ $t('sum_up.payNow') }}
      </q-btn>
      <q-btn class="full-width" type="submit" color="primary" size="lg" style="text-transform: none;" @click="generateProform">
        {{ $t('sum_up.payWithTransfer') }}
      </q-btn>
    </q-page-sticky>
    <q-inner-loading :showing="showOverlay">
      <q-spinner-gears size="50px" color="primary" />
    </q-inner-loading>
  </div>
</template>

<script>
import jsonCountryCodes from 'assets/data/standard_country_codes.json'
import { api } from 'boot/axios'
import { useQuasar } from 'quasar'

let $q

export default {
  data () {
    $q = useQuasar()
    this.showOverlay = true
    if (this.$store.getters['auth/getUserData'].user_data_id) {
      if (this.$store.getters['auth/getTicketId'] !== 0) {
        this.$router.push({ name: 'home' })
      }
    }
    api.get(
      '/api/ticket/invoice/my',
      {
        headers: {
          Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
          'Accept-Language': this.$i18n.locale,
          LoginSessionId: 'asdasdasd',
          Accept: 'application/json'
        }
      }
    )
      .then(res => {
        if (res.data.success) {
          if (res.data.data.length > 0) {
            res.data.data.forEach(invoice => {
              if (invoice.status === 'paid') {
                this.$router.push({ name: 'home' })
              } else {
                this.$router.push({ name: 'ticket.payment.paid', params: { payment_id: res.data.data[0].payment_ids[0], invoice_id: res.data.data[0].id } })
              }
            })
          } else {
            this.canCorrect = true
          }
        }
      })
    const buyerData = JSON.parse(window.localStorage.getItem('buyerData'))
    const typeId = JSON.parse(window.localStorage.getItem('ticketTypeToBuy'))
    api.get(
      `/api/ticket/type/${typeId}`,
      {
        headers: {
          Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
          'Accept-Language': this.$i18n.locale,
          LoginSessionId: 'asdasdasd',
          Accept: 'application/json'
        }
      }
    )
      .then(res => {
        if (res.data.success) {
          this.items = {
            type: res.data.data.id,
            name: res.data.data.name,
            netto: (res.data.data.price / 100).toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' }),
            vat: ((res.data.data.price * 0.23) / 100).toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' }),
            brutto: ((res.data.data.price * 1.23) / 100).toLocaleString('pl-PL', { style: 'currency', currency: 'PLN' })
          }
          this.showOverlay = false
        }
      })
    return {
      payuData: {},
      showOverlay: true,
      buyerData,
      canCorrect: false,
      countryCodes: jsonCountryCodes,
      items: []
    }
  },
  methods: {
    async generateProform () {
      this.showOverlay = true
      const items = {}
      items[this.items.type] = 1
      const data = {
        buyerData: this.buyerData,
        products: items,
        gateway: 'bankTransfer'
      }
      api.post(
        '/api/ticket/payment/generate_order',
        data,
        {
          headers: {
            Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
            'Accept-Language': this.$i18n.locale,
            LoginSessionId: 'asdasdasd',
            Accept: 'application/json'
          }
        }
      )
        .then(res => {
          if (res.data.success) {
            window.localStorage.setItem('paymentOnGoing', JSON.stringify(true))
            this.$router.push({ name: 'ticket.payment.paid', params: { payment_id: res.data.data.payment_id, invoice_id: res.data.data.invoice_id } })
          } else {
            $q.notify({
              color: 'red',
              textColor: 'white',
              icon: 'error',
              message: res.data.message
            })
          }
          this.showOverlay = false
        })
        .catch(err => {
          $q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'error',
            message: err.response.data.message
          })
          this.showOverlay = false
        })
    },
    async payWithPayU () {
      this.showOverlay = true
      const items = {}
      items[this.items.type] = 1
      const data = {
        buyerData: this.buyerData,
        products: items,
        gateway: 'payu'
      }
      api.post(
        '/api/ticket/payment/generate_order/1',
        data,
        {
          headers: {
            Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
            'Accept-Language': this.$i18n.locale,
            LoginSessionId: 'asdasdasd',
            Accept: 'application/json'
          }
        }
      )
        .then(res => {
          if (res.data.success) {
            window.localStorage.setItem('paymentOnGoing', JSON.stringify(true))
            this.payuData = res.data.data
            const refInAppBrowserPayU = cordova.InAppBrowser.open(res.data.data.redirectUrl, '_self', 'location=no')
            refInAppBrowserPayU.addEventListener('exit', this.payuClosed)
            refInAppBrowserPayU.addEventListener('message', function (message) {
              if (JSON.stringify(message.data.msg) === 'true') {
                refInAppBrowserPayU.close()
              }
            })
            refInAppBrowserPayU.addEventListener('loadstop', function () {
              if (refInAppBrowserPayU !== undefined) {
                refInAppBrowserPayU.insertCSS({ code: 'body{font-size: 25px;' })
                refInAppBrowserPayU.executeScript({
                  // eslint-disable-next-line no-multi-str
                  code: '\
            var message = closeIsThisEnd;\
            var messageObj = {msg: message};\
            var stringifiedMessageObj = JSON.stringify(messageObj);\
webkit.messageHandlers.cordova_iab.postMessage(stringifiedMessageObj);'
                })
              }
            })
          } else {
            $q.notify({
              color: 'red',
              textColor: 'white',
              icon: 'error',
              message: res.data.message
            })
          }
          this.showOverlay = false
        })
        .catch(err => {
          $q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'error',
            message: err.response.data.message
          })
          this.showOverlay = false
        })
    },
    payuClosed () {
      this.$router.push({ name: 'ticket.payment.paid', params: { payment_id: this.payuData.payment_id, invoice_id: this.payuData.invoice_id } })
    }
  }
}
</script>

<style scoped>

</style>
