<template>
  <div class="q-pa-md">
    <div class="q-gutter-md" style="font-size: 2em">
      <q-icon name="west" :to="{ name: 'ticket.method' }" color="dark" />
    </div>
    <h5 class="q-mt-md">Podaj kod grupowy</h5>
    <q-form @submit="verifyVoucher">
      <q-input
        class="q-mt-md"
        type="text"
        v-model="code"
        label="Kod grupowy lub voucher"
        style="margin-bottom:12vh"
        name="code"
        fill-mask
        :rules="[val => val.length === 9 || 'Wrong code']"
        :outlined="true"
      />
      <q-page-sticky class="sticky-full-width q-pa-md backdrop-filter-blur" position="bottom">
        <q-btn type="submit" class="full-width" color="primary" size="lg" style="text-transform: none;">
          {{ $t('ticket_method.save') }}
        </q-btn>
      </q-page-sticky>
    </q-form>
    <q-inner-loading :showing="showOverlay">
      <q-spinner-gears size="50px" color="primary" />
    </q-inner-loading>
  </div>
</template>

<script>
import { api } from 'boot/axios'
import { useQuasar } from 'quasar'

let $q

export default {
  name: 'Voucher',
  data () {
    $q = useQuasar()
    return {
      code: '',
      showOverlay: false
    }
  },
  methods: {
    verifyVoucher () {
      this.showOverlay = true
      api.post('/api/ticket/code',
        { code: this.code },
        {
          headers: {
            Authorization: `Bearer ${this.$store.getters['auth/getBearerToken']}`,
            'Accept-Language': this.$i18n.locale,
            LoginSessionId: 'asdasdasd',
            Accept: 'application/json'
          }
        })
        .then(async res => {
          await this.$store.dispatch('auth/loadUserData', { locale: this.$i18n.locale })
          $q.notify({
            color: 'green-4',
            textColor: 'white',
            icon: 'tick',
            message: 'Poprawnie wykorzystano voucher'
          })
          this.$router.push({ name: 'home' })
        })
        .catch(error => {
          this.showOverlay = false
          console.log(error)
          $q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'error',
            message: error.response.data.message ?? error.response.message ?? error.message
          })
        })
    }
  }
}
</script>
