<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer class="backdrop-filter-blur border-blue-grey-2" style="background-color: rgba(255, 255, 255, 0.7);border-top:1px solid">
        <q-tabs
          v-model="menu"
          indicator-color="primary"
          class="text-dark"
          active-class="q-tab-active-color"
        >
          <q-route-tab name="home" :icon="menu === 'home' ? 'bi-house-door-fill' : 'bi-house-door'" label="Home" :to="{ name: 'home' }" exact />
          <q-route-tab name="program" :icon="menu === 'program' ? 'bi-calendar-event-fill' : 'bi-calendar4-event'" label="Program" :to="{ name: 'main.agenda' }" exact />
          <q-route-tab name="qr" icon="bi-qr-code" label="QR Code" :to="{ name: 'main.ticket' }" exact />
          <q-route-tab name="map" :icon="menu === 'map' ? 'bi-map-fill' : 'bi-map'" label="Map" :to="{ name: 'main.map' }" exact />
        </q-tabs>
    </q-footer>
  </q-layout>
</template>

<script>

import { defineComponent } from 'vue'

export default defineComponent({
  name: 'MainLayout',
  data () {
    return {
      menu: 'home'
    }
  },
  mounted () {
    this.$store.dispatch('auth/loadUserData', { locale: this.$i18n.locale })
    if (this.$store.getters['auth/getUserData'].user_data_id) {
      // console.log(this.$store.getters['auth/getUserData'])
      if (this.$store.getters['auth/getTicketId'] === 0) {
        this.$router.push({ name: 'ticket.method' })
      }
    } else {
      this.$router.push({ name: 'register.fill_data' })
    }
  }
})
</script>
