<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PreLoginLayout',

  components: {},

  setup () {},
  mounted () {
    if (this.$route.meta.loggedIn) {
      this.$store.dispatch('auth/loadUserData', { locale: this.$i18n.locale })
    }
  }
})
</script>
